@supports (-webkit-appearance:none) {
    @media (min-width: 1200px) {
        .clean-work__hand {
            top: -33px !important;
        }
    }
}
@media (min-width: 1200px) {
    .bad-master__cite {
        padding: 30px 30px 30px 38px !important;
    }
    .clean-work__heading_angled {
        padding: 30px 50px !important;
    }
    .clean-work__heading_angled b {
        line-height: 1.2 !important;
    }
    .clean-work__hand {
        top: -45px !important;
    }
    .experience .block__heading {
        line-height: 1.2 !important;
        margin-top: 120px !important;
    }
    .aboutme .block__heading {
        line-height: 1.2 !important;
        padding: 30px 0 !important;
    }
    .art {
        height: 1368px !important;
    }
    .art .block__heading_angled {
        line-height: 1.2 !important;
    }
    .organize .block__heading {
        padding-top: 15px !important;
    }
    .service .block__heading {
        line-height: 1.2 !important;
    }
    .calmdown__dialogue .sad b, .calmdown__dialogue .smile b {
        line-height: 1.1 !important;
    }
    .price .block__heading {
        line-height: 1.2 !important;
    }
    .price .block__subheading {
        line-height: 1.2 !important;
    }
    .compare .block__heading_main {
        padding-top: 12px !important;
    }
    .compare .block__heading_angled {
        padding-top: 14px !important;
    }
    .happiness .block__heading {
        padding-top: 14px !important;
    }
    .boutique-more .block__heading {
        padding: 13px 40px 0 50px !important;
    }
    .lighting .block__heading {
        padding: 13px 40px 0 50px !important;
    }
    .mounts__heading .block__heading {
        padding: 12px 0 0 50px !important;
    }
    .manufacturer .block__heading {
        padding: 12px 0 0 50px !important;
    }
    .manufacturer-more .block__heading {
        line-height: 1.25 !important;
    }
    .portfolio .block__heading {
        line-height: 1.22 !important;
    }
    .warning {
        padding-top: 90px !important;
    }
    .warning .block__heading {
        line-height: 1.25 !important;
        margin-top: -1px !important;
    }
    .ecology .block__heading {
        line-height: 1.2 !important;
    }
    .ecology__heading {
        line-height: 1.2 !important;
    }
    .children .block__heading {
        padding: 13px 0 0 50px !important;
    }
    .footer .block__heading {
        margin: 310px -50px 5px !important;
    }
    .footer .price__form p {
        line-height: 1.2 !important;
    }
    .footer__creator {
        margin-top: 200px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .bad-master__cite {
        padding: 30px 30px 30px 38px !important;
    }
    .clean-work__heading_angled {
        padding: 30px 50px !important;
    }
    .clean-work__heading_angled b {
        line-height: 1.2 !important;
    }
    .clean-work__hand {
        top: -33px !important;
    }
    .experience .block__heading {
        line-height: 1.2 !important;
        margin-top: 120px !important;
    }
    .aboutme .block__heading {
        line-height: 1.2 !important;
        padding: 30px 0 !important;
    }
    .art {
        height: 1368px !important;
    }
    .art .block__heading_angled {
        line-height: 1.2 !important;
    }
    .organize .block__heading {
        padding-top: 15px !important;
    }
    .service .block__heading {
        line-height: 1.2 !important;
    }
    .calmdown__dialogue .sad b, .calmdown__dialogue .smile b {
        line-height: 1.1 !important;
    }
    .price .block__heading {
        line-height: 1.2 !important;
    }
    .price .block__subheading {
        line-height: 1.2 !important;
    }
    .compare .block__heading_main {
        padding-top: 12px !important;
    }
    .compare .block__heading_angled {
        padding-top: 14px !important;
    }
    .happiness .block__heading {
        padding-top: 14px !important;
    }
    .boutique-more .block__heading {
        padding: 13px 40px 0 50px !important;
    }
    .lighting .block__heading {
        padding: 13px 40px 0 50px !important;
    }
    .mounts__heading .block__heading {
        padding: 12px 0 0 50px !important;
    }
    .manufacturer .block__heading {
        padding: 12px 0 0 50px !important;
    }
    .manufacturer-more .block__heading {
        line-height: 1.25 !important;
    }
    .portfolio .block__heading {
        line-height: 1.22 !important;
    }
    .warning {
        padding-top: 90px !important;
    }
    .warning .block__heading {
        line-height: 1.25 !important;
    }
    .ecology .block__heading {
        line-height: 1.2 !important;
    }
    .ecology__heading {
        line-height: 1.2 !important;
    }
    .children .block__heading {
        padding: 13px 0 0 50px !important;
    }
    .footer .block__heading {
        margin: 310px -50px 5px !important;
    }
    .footer .price__form p {
        line-height: 1.2 !important;
    }
    .footer__creator {
        margin-top: 200px !important;
    }
}