.aboutme
    background: url("../img/experience__bg.svg") no-repeat center top -1216px / 1920px
    .block
        &__heading
            background-color: $blue
            color: $white
            position: relative
            height: 167px
            padding: 25px 0
            margin-left: 136px
            &:before
                content: ''
                position: absolute
                top: 0
                left: -207px
                width: 0
                height: 0
                border-style: solid
                border-width: 0 207px 167px 0
                border-color: transparent $blue transparent transparent
            &:after
                content: ''
                position: absolute
                top: 0
                right: -400px
                height: 167px
                width: 400px
                background-color: $blue
    &__desc
        margin: 38px auto 0
        max-width: 320px
        color: #6A6A6A
        position: relative
        right: -60px
        b
            display: block
            color: $black
    &__image
        display: block
        margin-top: -140px
        margin-left: -50px
        width: 383px
        height: 833px
    &__bubble
        width: 710px
        height: 160px
        border-radius: 60px
        background-color: $white
        box-shadow: 0 10px 23px rgba(0,0,0,0.11)
        position: relative
        padding: 36px 44px
        margin-top: 80px
        margin-left: -60px
        margin-bottom: 50px
        b
            font-size: 48px
            span
                color: $blue
        p
            color: #6a6a6a
            font-size: 25px
            margin: 0
        &:before
            content: ''
            position: absolute
            bottom: 8px
            left: -40px
            width: 0
            height: 0
            border-style: solid
            border-width: 0 72px 60px 0
            border-color: transparent $white transparent transparent
    &__text
        display: block
        font-size: 25px
        margin-bottom: 40px
        color: #6a6a6a
        span
            display: inline-block
            color: $blue
            font-weight: 700
            border-bottom: 4px solid $blue
        &_bold
            color: $black
    .list
        display: flex
        align-items: center
        list-style: none
        justify-content: space-between
        margin: 0 0 -120px -80px
        width: calc(100% + 100px)
        padding: 0
        li
            display: flex
            flex-direction: column
            flex: 0 0 280px
            height: 246px
            border-radius: 80px
            background-color: $white
            box-shadow: 0 0px 23px rgba(0,0,0,0.11)
            padding: 27px
            div
                display: flex
                align-items: flex-end
                img
                    display: block
                b
                    display: block
                    color: $blue
                    font-size: 48px
                    line-height: 32px
            p
                font-size: 25px
                margin: 10px 0 0
            &:nth-child(1)
                div
                    flex-direction: column
                    align-items: flex-start
                    margin-top: 13px
                    b
                        order: 1
                    img
                        order: 0
                        width: 78px
                        margin-bottom: 20px
            &:nth-child(2)
                div
                    margin-top: 32px
                    img
                        width: 93px
                        margin-left: 15px
            &:nth-child(3)
                div
                    margin-top: -40px
                    img
                        width: 137px
                        margin-left: 15px
    &-cite
        height: 380px
        background-color: $blue
        padding-top: 96px
        p
            color: $white
            font-size: 25px
            margin-bottom: 25px
        &__block
            width: 499px
            height: 220px
            border: 3px solid $white
            position: relative
            padding: 40px 0px 40px 35px
            margin-left: -40px
            p
                margin: 0
                b
                    display: block
            .arrow-up
                width: 0
                height: 0
                border-style: solid
                border-width: 0 0 36px 64px
                border-color: transparent transparent $white transparent
                position: absolute
                top: -36px
                left: 40px
                &:after
                    content: ''
                    display: block
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 0 30px 56px
                    border-color: transparent transparent $blue transparent
                    position: absolute
                    top: 6px
                    left: -59px
            .arrow-right
                width: 0
                height: 0
                border-style: solid
                border-width: 0 100px 80px 0
                border-color: transparent $white transparent transparent
                position: absolute
                top: 0px
                right: 0px
                &:after
                    content: ''
                    display: block
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 102px 82px 0
                    border-color: transparent $blue transparent transparent
                    position: absolute
                    top: -3px
                    right: -103px
        &__texts
            margin-top: 45px