.art
    background-color: #eeeeee
    padding-top: 70px
    height: 1391px
    overflow: hidden
    .block
        &__heading
            font-size: 118px
            &_angled
                background-color: $yellow
                font-size: 49px
                height: 167px
                padding: 30px 0 30px 40px
                margin-left: -40px
                position: relative
                max-width: 1040px
                &:after
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    right: -200px
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 167px 0 0 200px
                    border-color: transparent transparent transparent $yellow
    .list
        list-style: none
        display: flex
        flex-direction: column
        margin: 0 -90px 0 -40px
        padding: 90px 90px 0 40px
        height: 1004px
        background-color: #f4f4f4
        box-shadow: 0 0 74px rgba(0,0,0,0.13)
        position: relative
        li
            position: relative
            margin-bottom: 80px
            b
                color: $blue
                font-size: 25px
                display: block
                margin-bottom: 15px
            p
                font-size: 25px
                color: #6a6a6a
                margin: 0
            &:before
                content: ''
                display: block
                width: 17px
                height: 25px
                background: url(../img/icons/check.svg) no-repeat center center/contain
                position: absolute
                left: -40px
                top: 0
        &:before
            content: ''
            height: 1004px
            width: 500px
            background-color: #f4f4f4
            position: absolute
            top: 0
            left: -500px
        &_right
            background-color: #fff
            margin-left: 40px
            margin: 0
            padding: 90px 0 0 80px
            li
                &:nth-child(2)
                    margin-bottom: 50px
                &:nth-child(3)
                    margin-bottom: 110px
            &:before
                background-color: #ffffff
                position: absolute
                top: 0
                left: auto
                right: -500px
    &__decor
        display: block
        position: absolute
        bottom: -870px
        left: -361px
        z-index: 1
        width: 1920px
        object-fit: cover
        object-position: 0%