.bad-master
    height: 875px
    overflow: hidden
    background: url("../img/badmaster__bg.svg") no-repeat center top, #EAEAEA
    &__cite
        padding: 20px 20px 20px 38px
        display: block
        position: relative
        text-transform: uppercase
        font: 49px "Bebas Neue", sans-serif
        font-weight: 700
        border: 5px solid $yellow
        margin-left: -50px
        margin-top: 114px
        margin-bottom: 58px
        b
            br
                display: none
        &:before
            content: ''
            position: absolute
            bottom: -30px
            right: -5px
            width: 0
            height: 0
            border-style: solid
            border-width: 0 40px 30px 0
            border-color: transparent $yellow transparent transparent
        &:after
            content: ''
            position: absolute
            bottom: -20px
            right: 0px
            width: 0
            height: 0
            border-style: solid
            border-width: 0 28px 20px 0
            border-color: transparent #EAEAEA transparent transparent
    &__note
        background-color: $white
        max-width: 640px
        margin-left: -50px
        padding: 15px 40px 15px 50px
    &__alert
        position: relative
        &:before
            content: ''
            width: 30px
            height: 161px
            background: url("../img/icons/alert.svg") no-repeat center center
            position: absolute
            left: -50px
            top: 0
    &__sidebar
        width: 437px
        height: 520px
        padding: 35px
        background-color: #F1C45B
        img
            display: block
            margin-top: 82px
            margin-left: -83px
            position: relative
            z-index: 1
    &__summary
        display: block
        background-color: $yellow
        height: 167px
        padding: 35px 200px 35px 50px
        font-size: 28px
        position: relative
        margin-left: -50px
        margin-top: 60px
        width: 1007px
        &:before
            content: ''
            position: absolute
            top: 0px
            left: -166px - 40px
            width: 0
            height: 0
            border-style: solid
            border-width: 0 206px 167px 0
            border-color: transparent $yellow transparent transparent