.blow
    position: relative
    margin-bottom: -50px
    img
        display: block
        position: absolute
        top: -330px
        left: -330px
        width: 2093px
        height: 879px
        z-index: 2
        pointer-events: none
    &__circle
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        border-radius: 50%
        width: 564px
        height: 564px
        margin: 100px auto 0
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #129FE1 100%)
        b
            text-transform: uppercase
            color: $white
            font: 99px "Bebas Neue", sans-serif
            font-weight: 400