.boutique
    margin-top: 130px
    background: url("../img/boutique__bg.svg") no-repeat center top
    min-height: 1613px
    position: relative
    .block
        &__heading
            margin-bottom: 30px
            span
                color: $yellow
            &_sub
                span
                    color: $white
                    font-size: 72px
    &__text
        font-size: 25px
        display: block
        margin-bottom: 30px
        &_angled
            display: block
            background-color: $yellow
            padding-top: 8px
            padding-left: 50px
            margin-left: -50px
            margin-bottom: 40px
            font-size: 25px
            height: 48px
            max-width: 690px
            position: relative
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -60px
                width: 0
                height: 0
                border-style: solid
                border-width: 48px 0 0 60px
                border-color: transparent transparent transparent $yellow
        &_hidden
            position: absolute
            right: -600px
            top: -225px
            font-size: 317px
            line-height: 317px
            text-transform: uppercase
            transform: rotate(-90deg)
            opacity: 0.1
    &__image
        filter: drop-shadow(0 0 35px rgba(0,0,0,0.3))
        position: relative
        margin-top: 30px
        margin-bottom: 185px
        &:before
            content: ''
            display: block
            position: absolute
            left: -20px
            top: -30px
            background: url("../img/icons/boutique/ribbon_left.svg") no-repeat center center
            width: 65px
            height: 115px
        &:after
            content: ''
            display: block
            position: absolute
            right: -20px
            bottom: -60px
            background: url("../img/icons/boutique/ribbon_right.svg") no-repeat center center
            width: 65px
            height: 115px
        img
            display: block
            max-width: 100%
            height: auto
    &__blocks
        margin: 0 -50px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
    &__block
        display: flex
        flex-direction: column
        align-items: center
        flex: 0 0 24%
        img
            display: block
            border-radius: 75px
            max-width: 300px
            width: 100%
            height: 266px
            object-fit: cover
            object-position: 50%
            margin-bottom: 48px
            box-shadow: 0 0 25px rgba(0,0,0,0.11)
        b
            text-transform: uppercase
            font: 49px "Bebas Neue", sans-serif
            font-weight: 700
        p
            text-align: center
        a
            color: $black
            display: flex
            flex-direction: column
            align-items: center
            transition: all 0.3s ease
            &:hover
                text-decoration: none
                color: $blue
    &-more
        padding-top: 160px
        background: url("../img/customshop__bg.svg") no-repeat center top / 1920px
        min-height: 1613px
        .block
            &__heading
                display: block
                background-color: $yellow
                padding: 7px 40px 0 50px
                margin-left: -50px
                height: 66px
                position: relative
                &:after
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    right: -80px
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 66px 80px 0 0
                    border-color: $yellow transparent transparent transparent
        &__heading
            margin-left: 120px
            b,p
                font-size: 25px
        &__blocks
            margin: 50px -50px 0
            display: flex
            flex-wrap: wrap
            justify-content: space-between
        &__block
            display: flex
            flex-direction: column
            align-items: center
            flex: 0 0 24%
            background-color: $white
            box-shadow: 0 0 25px rgba(0,0,0,0.11)
            border-radius: 80px
            margin-bottom: 55px
            padding-bottom: 35px
            img
                display: block
                border-radius: 80px
                max-width: 305px
                width: 100%
                height: 269px
                object-fit: cover
                object-position: 50%
                margin-bottom: 48px
            b
                text-transform: uppercase
                font: 38px "Bebas Neue", sans-serif
                font-weight: 700
                text-align: center
                display: block
                margin-bottom: 15px
            p
                text-align: center
            a
                color: $black
                display: flex
                flex-direction: column
                align-items: center
                transition: all 0.3s ease
                &:hover
                    text-decoration: none
                    color: $blue
            &-image
                position: relative
                a
                    img
                        &:nth-child(2)
                            position: absolute
                            top: 0
                            right: 0
                            opacity: 0
                            transition: all 0.3s ease
                        &.visible
                            opacity: 1
                button
                    appearance: none
                    background: none
                    border: none
                    display: flex
                    justify-content: center
                    align-items: center
                    cursor: pointer
                    position: absolute
                    right: 20px
                    bottom: 30px
                    img
                        display: block
                        width: 62px
                        height: 67px
                        transition: all 0.3s ease
                    &:hover, &.toggled
                        img
                            filter: drop-shadow(0 0 5px $blue)
                    &:focus
                        outline: 0