.calmdown
    background-repeat: no-repeat
    background-position: center top
    padding-top: 440px
    margin-top: -440px
    &__lamp
        display: block
        margin: 380px 200px 0 auto
        width: 357px
        height: 357px
    &__dialogue
        img
            display: block
            width: 300px
            flex: 0 0 300px
            height: 232px
        .sad
            max-width: 65%
            display: flex
            b
                display: block
                margin-left: -130px
                margin-top: 90px
        .smile
            max-width: 35%
            display: flex
            margin: -150px 0 0 auto
            img
                width: 346px
                height: 309px
                flex: 0 0 346px
            b
                display: block
                margin-top: 220px
                margin-left: -256px
                margin-right: -150px
    &-clouds
        position: relative
        padding-top: 120px
        padding-bottom: 100px
        background: linear-gradient(to bottom, #ffffff 0%, $blue 100%)
        img
            display: block
            position: absolute
            top: -300px
            left: -430px
            width: 2093px
            height: 879px
            z-index: 2
            pointer-events: none
        .list
            list-style: none
            display: flex
            justify-content: space-between
            margin: 0
            padding: 0
            position: relative
            z-index: 3
            li
                flex: 0 0 47%
                background-color: $white
                border-radius: 60px
                position: relative
                padding: 52px 70px
                box-shadow: 0 0 22px rgba(0,0,0,0.11)
                .counter
                    color: $blue
                    display: block
                    font-size: 48px
                    margin-top: -80px
                    margin-bottom: 30px
                p
                    font-size: 25px
    &-buddha
        background-color: $blue
        .block
            &__heading
                color: $white
                font-size: 118px
                letter-spacing: 3px
        &__note
            @extend .organize-summary__note
            margin: 55px auto 0
            width: 460px
            height: 130px
            border-radius: 40px
            padding: 30px
        img
            display: block
            position: relative
            z-index: 1
            width: 742px
            height: 811px
            margin-top: -55px
            margin-left: -100px
            margin-bottom: -5px
        .list
            list-style: none
            display: flex
            flex-direction: column
            margin: 0
            padding: 0
            li
                position: relative
                display: flex
                margin-bottom: 50px
                p
                    font-size: 25px
                    color: $white
                    margin: 0
                &:before
                    content: ''
                    display: block
                    width: 8px
                    height: 8px
                    flex: 0 0 8px
                    background-color: $white
                    border-radius: 50%
                    margin-right: 9px
                    margin-top: 10px
                &:nth-child(1)
                    margin-left: 30px
                &:nth-child(2)
                    margin-left: 88px
                &:nth-child(3)
                    margin-left: 126px
                &:nth-child(4)
                    margin-left: 170px
                &:nth-child(5)
                    margin-left: 300px
            &-pre
                display: block
                color: $white
                font-size: 48px
                margin: 60px 0 40px