.children
    .block
        &__heading
            display: block
            background-color: $blue
            color: $white
            position: relative
            padding: 6px 0 0 50px
            margin: 0 0 60px -50px
            height: 66px
            max-width: 960px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -80px
                width: 0
                height: 0
                border-style: solid
                border-width: 66px 0 0 80px
                border-color: transparent transparent transparent $blue
    &__title
        font: 49px "Bebas Neue", sans-serif
        font-weight: 700
    &__text
        font-size: 25px
        color: #6a6a6a