.clean-work
    height: 1504px
    padding-top: 120px
    overflow: hidden
    background: url("../img/cleanwork__bg.png") no-repeat center top, $white
    &__heading
        text-transform: uppercase
        font: 49px "Bebas Neue", sans-serif
        font-weight: 700
        &_angled
            position: relative
            background-color: $yellow
            margin-left: -50px
            margin-top: 30px
            height: 164px
            padding: 25px 50px
            max-width: 670px
            margin-bottom: 65px
            &:after
                content: ''
                position: absolute
                top: 0px
                right: -190px
                width: 0
                height: 0
                border-style: solid
                border-width: 164px 0 0 190px
                border-color: transparent transparent transparent $yellow
            b
                position: relative
                z-index: 2
                display: block
                margin-right: -150px
    &__desc
        font-size: 25px
        margin-bottom: 40px
        b
            font-weight: 400
    &__features
        margin-top: 68px
        img
            display: block
            width: 80px
            margin-bottom: 30px
        b,p
            color: $white
        p
            margin: 0
            font-size: 25px
        b
            font-size: 48px
        .list
            list-style: none
            margin: 0
            padding: 0
            li
                display: flex
                align-items: center
                &:before
                    content: ''
                    display: block
                    width: 7px
                    height: 7px
                    flex: 0 0 7px
                    border-radius: 50%
                    background-color: $white
                    margin-right: 15px
    &__hand
        display: block
        position: relative
        right: 45px
        top: -44px
        width: 630px
        height: 446px
    &__text
        max-width: 710px
        font-size: 25px
        &_angled
            max-width: 920px
            background-color: $white
            position: relative
            height: 56px
            padding: 11px 0
            &:before
                content: ''
                position: absolute
                left: -66px
                top: 0
                width: 0
                height: 0
                border-style: solid
                border-width: 0 66px 56px 0
                border-color: transparent $white transparent transparent
            &:after
                content: ''
                position: absolute
                right: -66px
                top: 0
                width: 0
                height: 0
                border-style: solid
                border-width: 56px 0 0 66px
                border-color: transparent transparent transparent $white
        &:first-child
            max-width: 680px