.compare
    padding-bottom: 58px
    .block
        &__heading
            margin-bottom: 50px
            &_main
                background-color: $yellow
                height: 66px
                padding-left: 50px
                padding-top: 5px
                max-width: 100%
                margin-left: -50px
                &:before
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    left: -88px - 35px
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 88px 66px 0
                    border-color: transparent $yellow transparent transparent
                &:after
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    right: -400px
                    width: 500px
                    height: 66px
                    background-color: $yellow
            &_angled
                position: relative
                background-color: $yellow
                height: 66px
                padding-left: 50px
                padding-top: 5px
                max-width: 100%
                margin-left: -50px
                &:after
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    right: -88px
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 66px 88px 0 0
                    border-color: $yellow transparent transparent transparent
    b
        display: block
    p
        font-size: 25px
        color: #6a6a6a
    &__heading
        font-size: 36px
        span
            color: $yellow
    &__text
        &_bold
            display: block
            font-size: 25px
            margin: 30px 0
        &_angled
            position: relative
            background-color: $yellow
            height: 73px
            padding-left: 50px
            font-size: 25px
            width: 436px
            color: $black
            padding-top: 4px
            margin-left: -50px
            margin-top: 20px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -88px
                width: 0
                height: 0
                border-style: solid
                border-width: 73px 88px 0 0
                border-color: $yellow transparent transparent transparent
    &__arrows
        position: relative
        margin-left: 30px
        p
            color: $black
            font-size: 18px
            text-align: right
            max-width: 90px
            margin-top: 20px
        &:before
            content: ''
            position: absolute
            top: -20px
            left: -170px
            display: block
            background: url("../img/icons/compare/arrows.svg") no-repeat center center
            width: 223px
            height: 15px
    &__image
        display: block
        position: relative
        z-index: 1
        margin-top: -80px
        margin-left: 100px
        margin-bottom: -130px
    .list
        list-style: none
        display: flex
        justify-content: space-between
        margin: 0 -50px 115px
        width: calc(100% + 100px)
        padding: 50px
        box-shadow: 0 0 74px rgba(0,0,0,0.11)
        li
            flex: 0 0 50%
            b
                display: block
                font: 49px "Bebas Neue", sans-serif
                font-weight: 700
                color: $blue
                margin-bottom: 30px
            &:last-child
                b
                    color: $yellow
    &__note
        display: flex
        align-items: center
        div
            margin-left: 50px
            .block__heading
                margin-bottom: 20px
            p
                color: $black
                font-weight: 700