.ecology
    .block
        &__heading
            background-color: $yellow
            font-size: 49px
            height: 167px
            padding: 30px 0 30px 40px
            margin-left: -40px
            margin-right: -30px
            margin-bottom: 30px
            position: relative
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -200px
                width: 0
                height: 0
                border-style: solid
                border-width: 167px 200px 0 0
                border-color: $yellow transparent transparent transparent
    &__img
        display: block
        margin-left: 50px
    &__heading
        display: block
        font: 49px "Bebas Neue", sans-serif
        font-weight: 700
        color: $blue
        margin-top: 40px
        margin-bottom: 40px
    &__text
        font-size: 25px
        color: #6a6a6a
        margin-bottom: 40px
        b
            color: $black
        &_blue
            color: $blue
            font-weight: 700