.experience
    background: url("../img/experience__bg.svg") no-repeat center top / 1920px
    height: 1216px
    &__heading
        display: block
        margin-top: 120px
        font-size: 25px
        max-width: 600px
        span
            display: block
            font-size: 48px
            margin-bottom: 15px
    &__subheading
        display: flex
        align-items: center
        text-transform: uppercase
        color: $yellow
        font: 118px "Bebas Neue", sans-serif
        font-weight: 700
        line-height: 96px
        margin-top: 30px
        img
            display: block
            width: 164px
            height: 85px
            margin-top: -15px
            margin-left: 15px
    &__text
        font-size: 25px
        color: #6A6A6A
        &_lines
            position: relative
            &:before
                content: ''
                position: absolute
                top: 15px
                left: -40px
                display: block
                height: 3px
                width: 440px
                background-color: $yellow
                z-index: -1
            &:after
                content: ''
                position: absolute
                top: 45px
                left: -40px
                display: block
                height: 3px
                width: 620px
                background-color: $yellow
                z-index: -1
    &__smile
        display: block
        margin-top: -60px
        margin-left: -40px
        width: 344px
        height: 282px
    .block
        &__heading
            margin-right: -50px
            margin-top: 118px
    .list
        list-style: none
        margin: 40px 0 0 0
        padding: 0
        display: flex
        flex-direction: column
        li
            display: flex
            align-items: center
            margin-bottom: 30px
            img
                display: block
                width: 60px
                height: 60px
                object-fit: contain
                margin-right: 25px
            p
                margin: 0
                font-size: 25px
            &:nth-child(1)
                p
                    margin-right: -30px
            &:nth-child(2)
                p
                    max-width: 550px
            &:nth-child(3)
                p
                    max-width: 450px
            &:nth-child(4)
                p
                    max-width: 370px