.happiness
    background: #fbfbfb
    box-shadow: 0 0 72px rgba(0,0,0,0.11)
    position: relative
    .block
        &__heading
            position: relative
            background-color: $yellow
            height: 66px
            padding-left: 50px
            padding-top: 5px
            max-width: 960px
            margin-left: -50px
            margin-bottom: 92px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -88px
                width: 0
                height: 0
                border-style: solid
                border-width: 66px 0 0 88px
                border-color: transparent transparent transparent $yellow
    &__decor
        background-color: $white
        height: 100%
        width: 54%
        position: absolute
        left: 46%
        top: 0
        z-index: 0
        box-shadow: 0 0 72px rgba(0,0,0,0.11)
    .list
        list-style: none
        display: flex
        flex-direction: column
        margin: 0
        padding: 0
        li
            position: relative
            margin-bottom: 60px
            b
                color: $blue
                font-size: 48px
                display: block
                margin-bottom: 15px
            p
                font-size: 25px
                color: #6a6a6a
                margin: 0
            &:before
                content: ''
                display: block
                width: 17px
                height: 25px
                background: url(../img/icons/check.svg) no-repeat center center/contain
                position: absolute
                left: -40px
                top: 14px