.intro
    background: url("../img/intro__bg.jpg") no-repeat center top
    height: 1010px
    padding-top: 72px - 10px
    overflow: hidden
    &__heading
        display: block
        text-transform: uppercase
        font: 49px "Bebas Neue", sans-serif
        font-weight: 700
        line-height: 58.8px
        max-width: 400px
        margin-bottom: 15px
    &__status
        position: relative
        display: flex
        align-items: center
        background-color: $white
        font-size: 31px
        height: 56px
        max-width: 600px
        &:before
            content: ''
            position: absolute
            left: -66px
            top: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 0 66px 56px 0
            border-color: transparent $white transparent transparent
        &:after
            content: ''
            position: absolute
            right: -66px
            top: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 56px 0 0 66px
            border-color: transparent transparent transparent $white
    &__arrow
        display: block
        width: 119px
        height: 42px
        margin-left: auto
        margin-top: -20px
        margin-right: -60px
        position: relative
        z-index: 1
    &__sidebar
        width: 437px
        height: 720px
        padding: 35px
        background-color: #F1C45B
        position: relative
        margin-top: 27px
        &-title
            display: block
            font-size: 26px
            margin-bottom: 25px
        &-dialogue
            margin-top: 20px
            color: $white
            position: relative
            font-size: 26px
            font-weight: 700
            span
                display: block
                margin-left: 30px
                margin-right: -30px
            &:after
                content: ''
                position: absolute
                bottom: -7px
                right: -4px
                display: block
                width: 345px
                height: 4px
                background-color: $white
        &-spoiler
            display: block
            text-transform: uppercase
            font: 49px "Bebas Neue", sans-serif
            font-weight: 700
            max-width: 240px
            margin: 100px auto 0
            img
                display: inline-block
                width: 20px
        &:before
            content: ''
            position: absolute
            right: 0px
            top: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 0 120px 100px 0
            border-color: transparent $yellow transparent transparent