.jumbotron
    height: 885px
    margin-top: -98px
    padding-top: 98px + 27px
    background: url("../img/jumbotron__bg.svg?v=2") no-repeat center top, #EAEAEA
    background-size: 1920px
    h1
        font: 117px "Bebas Neue", sans-serif
        font-weight: 700
        margin: 0 -15px
        line-height: 137px
        display: flex
        flex-wrap: wrap
        align-items: center
        margin-bottom: 44px
        span
            display: inline-block
            width: 428px
            height: 126px
            margin-left: -28px
            background-color: #FFCF57
            padding: 0px 28px
        p
            font: 22px "Gilroy", sans-serif
            font-weight: 600
            margin: 0 0 0 32px
            flex: 0 0 170px
    &__photo
        display: block
        margin-top: 9px
    &__block-mobile
        display: none
    &__list
        display: flex
        list-style: none
        flex-direction: column
        margin: 30px 0 0 -40px
        padding: 0
        li
            position: relative
            display: flex
            margin-bottom: 5px
            p
                margin: 0
                color: #6a6a6a
            &:before
                content: ''
                display: block
                width: 7px
                height: 7px
                flex: 0 0 7px
                background-color: $blue
                margin-right: 35px
                margin-top: 7px
    &__note
        position: relative
        display: flex
        align-items: center
        margin: 0 42px 0 -40px
        &:before
            content: ''
            display: block
            width: 17px
            height: 25px
            background: url("../img/icons/check.svg") no-repeat center center / contain
            margin-right: 25px