.lighting
    background: #e9e9e9
    position: relative
    .block
        &__heading
            display: block
            background-color: $yellow
            padding: 7px 40px 0 50px
            margin-left: -50px
            height: 66px
            max-width: 630px
            position: relative
            top: -40px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -80px
                width: 0
                height: 0
                border-style: solid
                border-width: 66px 0 0 80px
                border-color: transparent transparent transparent $yellow
    &__desc
        font-size: 25px
        margin: 20px 0 10px
        position: relative
        top: -40px
    &__decor
        position: absolute
        top: 500px
        left: -360px
        z-index: 0
        background-color: $black
        width: 1920px
        height: 369px
    &__blocks
        display: flex
        justify-content: center
        flex-wrap: wrap
        position: relative
        z-index: 1
    &__block
        display: flex
        flex-direction: column
        align-items: center
        margin-bottom: 35px
        height: 100%
        b
            text-transform: uppercase
            font: 49px "Bebas Neue", sans-serif
            line-height: 1
            font-weight: 700
            text-align: center
        p
            text-align: center
            max-width: 270px
            margin: 30px auto 30px
        .image
            margin-top: auto
            border-radius: 50%
            display: flex
            justify-content: center
            align-items: center
            border: 8px solid $white
            box-shadow: 0 0 40px rgba(255,255,255,1)
            img
                display: block
                border-radius: 50%
                object-fit: cover
                object-position: 50%
                max-width: 321px
                height: 321px
        &_bottom
            .image
                order: 0
                margin-top: 0
            b
                order: 1
                margin-top: 30px
            p
                order: 2