.manufacturer
    background: url("../img/manufacturer__bg.svg") no-repeat center bottom 0px
    padding-right: 1940px
    margin-right: -1940px
    overflow: hidden
    .block
        &__heading
            display: block
            background-color: $yellow
            position: relative
            padding: 6px 0 0 50px
            margin: 0 0 60px -50px
            height: 66px
            max-width: 960px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -80px
                width: 0
                height: 0
                border-style: solid
                border-width: 66px 0 0 80px
                border-color: transparent transparent transparent $yellow
    &__text
        font-size: 25px
        color: #6a6a6a
        margin-bottom: 35px
        span
            display: block
            color: $blue
            font-weight: 700
            border-bottom: 5px solid $blue
            max-width: 270px
        &_bold
            display: block
            font-size: 25px
            margin-bottom: 40px
    &__note
        b
            display: block
            font-size: 25px
    &__image
        display: block
        margin-top: -100px
        margin-left: -100px
        margin-bottom: -50px
        width: 705px
        height: 713px
    &-more
        background: url("../img/manufacturer__bg.svg") no-repeat center bottom
        padding-right: 760px
        margin-right: -760px
        .block
            &__heading
                background-color: $yellow
                height: 167px
                position: relative
                padding: 30px 0
                padding-left: 30px
                margin-left: -30px
                margin-bottom: 30px
                &:after
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    right: -200px
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 167px 0 0 200px
                    border-color: transparent transparent transparent $yellow
                &:before
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    left: -200px
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 0 200px 167px 0
                    border-color: transparent $yellow transparent transparent
        &__text
            margin-right: -100px
            b
                display: block
                font-size: 25px
                padding-bottom: 4px
                border-bottom: 4px solid $blue
                max-width: 350px
            &_blue
                color: $blue
                margin: 0
        &__flag
            display: block
            margin-top: -120px
            margin-left: auto
            margin-right: -120px
            width: 550px
            height: 419px