.mounts
    padding-top: 120px
    padding-bottom: 130px
    position: relative
    &__heading
        .block
            &__heading
                display: block
                background-color: $yellow
                position: relative
                padding: 6px 0 0 50px
                margin: 0 0 0 -50px
                height: 66px
                max-width: 750px
                &:after
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    right: -80px
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 66px 80px 0 0
                    border-color: $yellow transparent transparent transparent
                &:last-child
                    max-width: 350px
    &__subheading
        display: flex
        align-items: center
        margin: -40px 200px 0 auto
        max-width: 600px
        b
            text-transform: uppercase
            font: 49px "Bebas Neue", sans-serif
            line-height: 1
            font-weight: 700
            display: flex
            align-items: center
            img
                display: block
                width: 20px
                margin-left: 15px
        p
            font-size: 25px
            margin: 0 0 0 20px
            span
                color: $blue
                font-weight: 700
    &__decor
        position: absolute
        top: 320px
        left: -360px
        z-index: 0
        background-color: $blue
        width: 1920px
        height: 406px
    &__block
        position: relative
        margin-top: 70px
        .image
            width: 195px
            height: 195px
            border-radius: 50%
            box-shadow: 0 0 28px rgba(0,0,0,0.21)
            margin-bottom: -50px
            margin-left: -30px
            position: relative
            z-index: 1
            img
                display: block
                width: 195px
                height: 195px
                max-width: 100%
                object-fit: cover
                object-position: 50%
                border-radius: 50%
        .content
            background-color: $white
            min-height: 310px
            padding: 30px 40px
            margin-bottom: 60px
            position: relative
            b
                display: block
                text-transform: uppercase
                font: 49px "Bebas Neue", sans-serif
                line-height: 1
                font-weight: 700
                letter-spacing: 3px
                margin-bottom: 20px
                position: relative
                z-index: 2
            .line
                position: absolute
                bottom: 0
                right: 0
                width: 100%
                background-color: $yellow
                height: 12px
                &:after
                    content: ''
                    display: block
                    position: absolute
                    top: 0
                    left: 0
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 12px 16px 0 0
                    border-color: $white transparent transparent transparent
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: 0
                width: 0
                height: 0
                border-style: solid
                border-width: 0 80px 48px 0
                border-color: transparent $blue transparent transparent