.organize
    background: url("../img/process__bg.png") no-repeat center top -298px, #eeeeee
    overflow: hidden
    padding-top: 95px
    .block
        &__heading
            position: relative
            height: 66px
            background-color: $yellow
            padding-top: 5px
            padding-left: 40px
            margin-left: -40px
            margin-bottom: 93px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -90px
                width: 0
                height: 0
                border-style: solid
                border-width: 66px 0 0 90px
                border-color: transparent transparent transparent $yellow
    .list
        list-style: none
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin: 98px 0 0 0
        padding: 0
        background: url("../img/icons/organize/decor.svg") no-repeat left top 70px / 1000px
        li
            position: relative
            margin-bottom: 150px
            .counter
                b
                    color: $blue
                    font: 49px "Bebas Neue", sans-serif
                    font-weight: 700
                    span
                        font-size: 24px
                        color: #BCBCBC
            p
                font-size: 25px
                margin: 0 0 0 50px
                color: #6a6a6a
            .arrow
                background: url("../img/icons/organize/arrow.svg") no-repeat center center
                position: absolute
                width: 100px
                height: 20px
            &:nth-child(1),&:nth-child(4)
                flex: 0 0 35%
            &:nth-child(2),&:nth-child(5)
                flex: 0 0 45%
            &:nth-child(3),&:nth-child(6)
                flex: 0 0 20%
            &:nth-child(1)
                .arrow
                    right: 0
                    bottom: 0
                    transform: scaleY(-1)
            &:nth-child(2)
                .arrow
                    right: 40px
                    top: 10px
            &:nth-child(3)
                .arrow
                    right: -20px
                    bottom: -100px
                    transform: rotate(90deg)
            &:nth-child(4)
                .arrow
                    display: none
            &:nth-child(5)
                .arrow
                    left: -80px
                    bottom: 0
                    transform: scaleY(-1) scaleX(-1)
            &:nth-child(6)
                .arrow
                    left: -140px
                    top: 10px
                    transform: scaleX(-1)
            &:nth-child(4),&:nth-child(5),&:nth-child(6)
                margin-bottom: 105px
    &-summary
        background-color: $blue
        padding-top: 100px
        min-height: 444px
        &__note
            background-color: $white
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            border-radius: 50px
            color: $blue
            font-size: 25px
            padding: 30px 60px
            margin-top: 20px
            width: 516px
            height: 110px
            box-shadow: 0 0 22px rgba(18,159,225,0.46)
        .list
            list-style: none
            margin: 30px 0 0 10px
            padding: 0
            li
                position: relative
                display: flex
                align-items: center
                p
                    margin: 0
                    color: $white
                    font-size: 25px
                &:before
                    content: ''
                    display: block
                    width: 8px
                    height: 8px
                    background-color: $white
                    border-radius: 50%
                    margin-right: 10px
            &-pre
                color: $white
                display: block
                font-size: 25px