.portfolio
    margin-top: 90px
    background: url("../img/reviews__bg.svg") no-repeat center top 297px / 1920px
    padding-bottom: 60px
    .block
        &__heading
            margin-bottom: 70px
    &__slider
        max-width: 870px
        .slick-list
            overflow: visible
        .slick-next, .slick-prev
            background-color: $blue
            border-radius: 50%
            width: 65px
            height: 65px
            z-index: 1
            &:before
                opacity: 1
                display: block
                font-size: 0px
                background: url("../img/icons/angle_right.png") no-repeat center center / 18px
                width: 18px
                height: 33px
                margin-left: 24px
        .slick-prev
            &:before
                transform: scaleX(-1)
                margin-left: 20px
        &-cell
            width: 870px
            height: 430px
            display: flex
            box-shadow: 0 0 72px rgba(0,0,0,0.28)
            .images
                flex: 0 0 474px
                border: 8px solid $blue
                .image
                    &-main
                        position: relative
                        border-bottom: 8px solid $blue
                        a
                            display: block
                            height: 320px
                            img
                                display: block
                                width: 100%
                                height: 100%
                                object-fit: cover
                                object-position: 50%
                        &:after
                            content: ''
                            display: block
                            position: absolute
                            right: 20px
                            top: 22px
                            background: url("../img/icons/magnify.svg") no-repeat center center
                            width: 31px
                            height: 31px
                    &-gallery
                        display: flex
                        a
                            display: block
                            flex: 0 0 34%
                            border-right: 8px solid $blue
                            img
                                display: block
                                width: 100%
                                height: 86px
                                object-fit: cover
                                object-position: 50%
                            &:last-child
                                flex: 0 0 32%
                                border-right: none
            .info
                flex: 0 0 398px
                background-color: $white
                border: 8px solid $yellow
                padding: 23px 36px
                .list
                    display: flex
                    flex-direction: column
                    list-style: none
                    margin: 0
                    padding: 0
                    li
                        margin-bottom: 20px
                        p
                            margin: 0
                            color: #6a6a6a
            &_video
                background-color: $black
                .images
                    .image
                        &-main
                            border: none
                            height: 100%
                            video
                                width: 100%
                                height: 100%
                            &:after
                                display: none
        .slick-slide
            .portfolio__slider-cell
                opacity: 1
                transform: scale(0.75)
                left: -120px
                position: relative
                //transition: transform 0.5s, z-index 0.5s
                //transition-delay: 0.3s, 0.3s
        .slide-next, .slide-prev
            .portfolio__slider-cell
                z-index: 1
            &-after
                .portfolio__slider-cell
                    opacity: 0.5
                    transform: scale(0.5)
                    left: -380px
            &-before
                .portfolio__slider-cell
                    opacity: 0.5
                    transform: scale(0.5)
        .slick-active
            .portfolio__slider-cell
                opacity: 1
                transform: scale(1)
                z-index: 2
        &_nodesc
            max-width: 670px
            .portfolio
                &__slider
                    &-cell
                        width: 670px
                        .images
                            flex: 0 0 100%
            .slick-slide
                .portfolio__slider-cell
                    left: -50px
            .slide-next, .slide-prev
                &-after
                    .portfolio__slider-cell
                        left: -220px