.price
    padding-top: 368px
    margin-top: -315px
    background: url("../img/price__bg.svg") no-repeat center top / 1920px
    position: relative
    padding-bottom: 231px
    min-height: 2758px + 115px
    .block
        &__heading
            background-color: $yellow
            height: 167px
            position: relative
            padding: 30px 0
            padding-left: 30px
            margin-left: -30px
            margin-bottom: 90px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -200px
                width: 0
                height: 0
                border-style: solid
                border-width: 167px 0 0 200px
                border-color: transparent transparent transparent $yellow
            &:before
                content: ''
                display: block
                position: absolute
                top: 0
                left: -200px
                width: 0
                height: 0
                border-style: solid
                border-width: 0 200px 167px 0
                border-color: transparent $yellow transparent transparent
    &__hidden-text
        display: block
        text-align: right
        position: absolute
        right: -400px
        top: 120px
        text-transform: uppercase
        font: 230px "Bebas Neue", sans-serif
        line-height: 180px
        font-weight: 700
        opacity: 0.3
        mix-blend-mode: difference
    &__text
        display: block
        font-size: 25px
        margin-bottom: 35px
        color: #6a6a6a
        &_bold
            color: $black
    &__form
        max-width: 440px
        background-color: $white
        border-radius: 40px
        padding: 30px
        p
            color: $blue
            font-size: 25px
            margin-bottom: 30px
        .note
            color: #6a6a6a
            font-size: 14px
            margin-top: 20px
            text-align: center
        &-pre
            background-color: $white
            height: 180px
            border-radius: 80px
            padding: 47px 98px 47px 78px
            margin: 0 -200px 48px -78px
            p
                font-size: 25px
                color: #6a6a6a
                b
                    color: $black
    &__calculator
        display: block
        margin-left: -80px
        margin-top: 30px
        width: 768px
        height: 1125px
    &__subheading
        text-transform: uppercase
        font: 49px "Bebas Neue", sans-serif
        font-weight: 700
        display: block
        margin-bottom: 60px
    &__block
        background-color: $white
        padding: 55px 45px
        margin-left: -45px
        border-radius: 40px
        font-size: 25px
        max-width: 555px
        .note
            color: $blue
            margin-bottom: 50px
        p
            margin-bottom: 0
    &__numbers
        color: $blue
        font-size: 107px
        font-weight: 700
        span
            font-size: 73px
    &__notice
        margin-left: 35px
        display: flex
        flex-direction: column
        img
            display: block
            width: 162px
            height: 162px
            flex: 0 0 162px
            margin-left: 84px
            margin-bottom: 20px
        p
            font-size: 25px
            margin-bottom: 48px
            b
                display: block
                font-size: 48px