.reviews
    background: url("../img/reviews__bg.svg") no-repeat center top -381px / 1920px
    &__smile
        display: block
        width: 317px
        height: 283px
        margin-left: 30px
        margin-bottom: 40px
        transform: scaleX(-1)
    .block
        &__heading
            margin-bottom: 66px
            span
                color: $blue
    .review
        display: flex
        position: relative
        background-color: $white
        margin-bottom: 40px
        box-shadow: 0 0 74px rgba(0,0,0,0.13)
        margin: 0 -400px 40px
        padding: 0 400px
        .avatar
            display: flex
            flex-direction: column
            align-items: center
            .review
                &__avatar
                    display: block
                    flex: 0 0 145px
                    width: 145px
                    height: 145px
                    margin-top: -15px
                    border-radius: 50%
                    box-shadow: 0 16px 24px rgba(0,0,0,0.21)
                &__stars
                    display: block
                    margin-top: 20px
                    width: 107px
                    height: 56px
                    flex: 0 0 56px
        .content
            margin-left: 28px
            padding: 40px 0
            b
                display: block
                font-size: 25px
                margin-bottom: 20px
                span
                    color: $blue
                    font-size: 48px
            p
                font-size: 21px
                color: #6a6a6a
                margin: 0
    &__container
        min-height: 1627px