.service
    margin-top: -84px
    .block
        &__heading
            background-color: $yellow
            height: 167px
            position: relative
            padding: 30px 0
            padding-left: 30px
            margin-left: -30px
            margin-bottom: 90px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -200px
                width: 0
                height: 0
                border-style: solid
                border-width: 167px 0 0 200px
                border-color: transparent transparent transparent $yellow
            &:before
                content: ''
                display: block
                position: absolute
                top: 0
                left: -200px
                width: 0
                height: 0
                border-style: solid
                border-width: 0 200px 167px 0
                border-color: transparent $yellow transparent transparent
    &__text
        font-size: 25px
    &__note
        background-color: $blue
        color: $white
        font-size: 25px
        border-radius: 50px
        font-weight: 700
        display: flex
        align-items: center
        justify-content: center
        width: 455px
        height: 86px
        padding: 20px 35px 20px 55px
        box-shadow: 0 0 22px rgba(18,159,225,0.46)
        margin: 35px 0 35px -55px
    p
        font-size: 25px
        color: #6a6a6a
    .list
        display: flex
        list-style: none
        margin: 0
        padding: 0
        justify-content: space-between
        li
            position: relative
            flex: 0 0 50%
            .counter
                color: $yellow
                font: 80px "Bebas Neue", sans-serif
                font-weight: 700
                line-height: 80px
                position: absolute
                left: -50px
                top: 0
            p
                b
                    display: block
        &-pre
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            font: 49px "Bebas Neue", sans-serif
            font-weight: 700
            background-color: $yellow
            width: 193px
            height: 66px
            border-radius: 33px
            box-shadow: 0 0 14px rgba(255,207,87, 0.75)
            padding: 17px 55px
            margin: 50px 0 50px -55px