.warning
    padding-top: 79px
    padding-bottom: 50px
    p,b
        display: block
        font-size: 25px
        max-width: 640px
        margin-bottom: 40px
    p
        color: #6a6a6a
        span
            color: $blue
            font-weight: 700
            display: block
    .block
        &__heading
            background-color: $yellow
            height: 167px
            position: relative
            padding: 30px 0
            padding-left: 30px
            margin-left: -30px
            margin-bottom: 30px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -200px
                width: 0
                height: 0
                border-style: solid
                border-width: 167px 0 0 200px
                border-color: transparent transparent transparent $yellow
            &:before
                content: ''
                display: block
                position: absolute
                top: 0
                left: -200px
                width: 0
                height: 0
                border-style: solid
                border-width: 0 200px 167px 0
                border-color: transparent $yellow transparent transparent
    &__note
        background-color: $blue
        color: $white
        font-size: 25px
        border-radius: 50px
        font-weight: 700
        display: flex
        align-items: center
        justify-content: center
        width: 550px
        height: 86px
        padding: 20px 35px 20px 55px
        box-shadow: 0 0 22px rgba(18,159,225,0.46)
        margin: 15px 0 35px -55px
    &__propane
        display: block
        margin-top: -120px
        margin-bottom: -100px
    &__polymer
        display: block
        margin-top: 100px
        margin-bottom: 20px
        margin-left: 15px
    &__tip
        display: flex
        font-size: 25px
        font-weight: 700
        &:before
            content: ''
            display: block
            width: 17px
            height: 25px
            background: url("../img/icons/check.svg") no-repeat center center/contain
            margin-right: 17px