@import "fonts"

html, body
    height: 100%
body
    display: flex
    flex-direction: column
    font: 18px 'Gilroy', sans-serif;
.wrapper
    flex: 1 0 auto
    overflow-x: hidden
    width: 100%
    max-width: 1920px
    margin: 0 auto
.footer
    flex-shrink: 0

@import "slick"
@import "slick-theme"
@import "magnific-popup"

@import "header"
@import "content"
@import "main-blocks/jumbotron"
@import "main-blocks/intro"
@import "main-blocks/bad-master"
@import "main-blocks/clean-work"
@import "main-blocks/blow"
@import "main-blocks/experience"
@import "main-blocks/aboutme"
@import "main-blocks/art"
@import "main-blocks/organize"
@import "main-blocks/service"
@import "main-blocks/calmdown"
@import "main-blocks/price"

@import "main-blocks/compare"
@import "main-blocks/happiness"
@import "main-blocks/boutique"
@import "main-blocks/lighting"
@import "main-blocks/mounts"
@import "main-blocks/manufacturer"
@import "main-blocks/portfolio"
@import "main-blocks/reviews"
@import "main-blocks/warning"
@import "main-blocks/ecology"
@import "main-blocks/children"

@import "footer"

@import "media"