.footer
    padding-top: 87px
    background-size: 1920px
    background-repeat: no-repeat
    background-position: center bottom
    min-height: 1600px
    img
        display: block
        margin: 0 auto
        max-width: 187px
    .block
        &__heading
            display: block
            margin: 310px -50px 0
            text-transform: uppercase
            font: 120px "Bebas Neue", sans-serif
            font-weight: 700
            color: $white
            text-shadow: 0 0 30px rgba(0,0,0,0.4)
    .price__form
        padding: 30px
        margin: 0 -30px
        p
            text-transform: uppercase
            font: 49px "Bebas Neue", sans-serif
            font-weight: 700
            margin-bottom: 20px
            text-align: center
            img
                display: inline-block
                width: 20px
                margin-left: 15px
                filter: invert(53%) sepia(56%) saturate(1647%) hue-rotate(167deg) brightness(90%) contrast(96%)
        .note
            color: #6a6a6a
            text-transform: none
            font: 14px "Gilroy", sans-serif
            font-weight: 400
            margin-top: 20px
    &__creator
        display: flex
        flex-direction: column
        max-width: 187px
        color: $black
        margin-top: 180px
        p
            margin: 10px 0 0
        &:hover
            color: $black
            text-decoration: none
        &:focus
            outline: 0