.button
    appearance: none
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 30px
    background-color: $blue
    color: $white
    height: 82px
    width: 100%
    text-align: center
    line-height: 1
    transition: all 0.3s ease
    cursor: pointer
    font-size: 25px
    &:hover
        color: $white
        text-decoration: none
        background: darken($blue, 10%)
    &:focus
        outline: 0
    &_image
        border: 1px solid $black
        border-radius: 15px
        height: 52px
        max-width: 260px
        color: $black
        font-size: 18px
        background: none
        img
            display: block
            width: 17px
            height: 22px
            margin-right: 15px
        &:hover
            border-color: $yellow
            background-color: $yellow
            color: $black
.header
    height: 98px
    position: relative
    z-index: 1
    .navbar-brand
        padding: 0
        margin: 0 0 0 -30px
        display: flex
        align-items: center
        img
            width: 235px
    &__navbar
        align-items: center
        padding: 38px 0 0
        margin: 0 -15px
        &-collapse
            flex-direction: column
            align-items: flex-end
    .navbar-toggler[aria-expanded=false]
        .navbar-toggler-icon
            background: url("../img/menu__icon.svg") no-repeat center center
            width: 41px
            height: 41px
    .navbar-toggler-icon
        background: url("../img/menu__icon-close.svg") no-repeat center center
        width: 41px
        height: 41px
    .navbar-toggler
        border: none
        margin-top: -4px
        &:focus
            outline: 0
    &__top
        display: flex
    &__address
        p
            font-size: 16px
            margin: 5px 0 0
    &__phone
        display: block
        text-align: right
        color: #6A6A6A
        margin-right: 38px
        transition: all 0.3s ease
        font-weight: 600
        &:hover
            text-decoration: none
            color: $blue
    &__button
        color: #6A6A6A
        width: 145px
        font-weight: 600
        padding-bottom: 5px
        border-bottom: 2px solid $blue
        transition: all 0.3s ease
        text-decoration: none
        &:hover
            text-decoration: none
            color: $blue
        &:focus
            outline: 0