@media (min-width: 1200px)
    .container
        max-width: 1200px
@media (min-width: 992px) and (max-width: 1199px)
    .header
        .navbar-brand
            margin: 0
    .jumbotron
        h1
            font-size: 82px
            line-height: 1.1
            span
                height: auto
                width: 320px
        &__list
            margin-left: 0
            li
                &:before
                    margin-right: 15px
        &__note
            margin-left: 0
            margin-right: 30px
    .intro
        height: auto
        &__sidebar
            height: auto
            &-spoiler
                margin-bottom: 100px
    .bad-master
        &__summary
            width: 140%
            padding: 25px 200px 25px 50px
            font-size: 24px
    .clean-work
        background-position: center top -30px
        height: 1410px
        &__heading
            font-size: 40px
            &_angled
                padding: 35px 50px
        &__features
            margin-top: 48px
        &__desc
            font-size: 20px
        &__text
            font-size: 20px
            &_angled
                padding: 15px 0
        &__hand
            top: -33px
    .experience
        .block
            &__heading
                margin-top: 110px
                font-size: 40px
        &__clock
            display: block
            margin-left: -100px
            width: 514px
            height: 513px
        &__heading
            font-size: 22px
        &__text
            font-size: 20px
            &_lines
                &:before
                    width: 360px
                    top: 12px
                &:after
                    width: 500px
                    top: 36px
    .art
        height: auto
        .block
            &__heading
                font-size: 90px
                &_angled
                    font-size: 40px
        &__decor
            display: none
        .list
            height: 1263px
            &:before
                height: 100%
    .aboutme
        &__text
            font-size: 22px
        .list
            li
                height: 220px
                flex: 0 0 31%
                border-radius: 70px
                div
                    margin-top: 0
                    b
                        font-size: 30px
                p
                    font-size: 22px
                &:nth-child(1)
                    div
                        flex-direction: row
                        margin-top: 44px
                        img
                            order: 1
                            width: 60px
                            margin-left: 10px
                            margin-bottom: 0
                &:nth-child(2)
                    div
                        margin-top: 0
                &:nth-child(3)
                    div
                        img
                            width: 110px
        &-cite
            height: auto
            padding-bottom: 30px
    .organize
        .list
            background: none
            li
                &:nth-child(1), &:nth-child(4)
                    flex: 0 0 36%
                &:nth-child(2), &:nth-child(5)
                    flex: 0 0 38%
                &:nth-child(3), &:nth-child(6)
                    flex: 0 0 26%
                &:nth-child(4), &:nth-child(5), &:nth-child(6)
                    margin-bottom: 80px
        &-summary
            &__note
                width: 100%
                height: auto
    .service
        .list
            li
                .counter
                    left: 0
                p
                    margin-left: 50px
    .calmdown
        &__dialogue
            .block
                &__heading
                    font-size: 40px
        &-buddha
            &__note
                width: 460px
            .block
                &__heading
                    font-size: 90px
            .list
                margin-left: -60px
                li
                    margin-bottom: 30px
                    p
                        font-size: 20px
                    &:nth-child(2)
                        margin-left: 70px
                    &:nth-child(3)
                        margin-left: 116px
                    &:nth-child(4)
                        margin-left: 170px
                    &:nth-child(5)
                        margin-left: 250px
                &-pre
                    margin-left: -60px
    .price
        padding-top: 390px
        margin-top: -303px
        .block
            &__heading
                font-size: 46px
        &__text
            br
                display: none
        &__hidden-text
            right: -240px
        &__form
            &-pre
                margin-right: -150px
                height: auto
                padding: 31px 98px 31px 78px
                p
                    margin: 0
    .compare
        .block
            &__heading
                padding-top: 12px
                font-size: 40px
        &__heading
            font-size: 30px
        .list
            li
                p
                    br
                        display: none
    .happiness
        .list
            li
                b
                    font-size: 32px
                p
                    font-size: 20px
    .boutique
        .block
            &__heading
                &_sub
                    font-size: 46px
                    span
                        font-size: 60px
        &__image
            margin-bottom: 235px
        &__block
            img
                height: 247px
        &-more
            padding-top: 60px
            padding-bottom: 200px
            min-height: 0
            .block
                &__heading
                    font-size: 40px
            &__heading
                padding-left: 50px
                b,p
                    font-size: 20px
            &__block
                img
                    height: 247px
    .lighting
        &__block
            b
                font-size: 32px
            .image
                img
                    max-width: 260px
                    height: 260px
    .mounts
        &__subheading
            margin-right: 0
        &__decor
            height: 486px
        &__block
            .content
                min-height: 390px
                b
                    font-size: 40px
    .manufacturer
        &__image
            margin-left: -200px
        &-more
            padding-right: 900px
            margin-right: -900px
            .block
                &__heading
                    font-size: 44px
            &__flag
                margin-right: -220px
                margin-top: -80px
    .portfolio
        background: none
    .reviews
        background-position: center top -190px
    .ecology
        .block
            &__heading
                font-size: 39px
        &__heading
            font-size: 39px
        &__img
            margin-left: 0
@media (min-width: 768px) and (max-width: 991px)
    .header
        .navbar-brand
            margin: 0
    .jumbotron
        h1
            font-size: 82px
            line-height: 1.1
            margin-right: -160px
            span
                height: auto
                width: 320px
        &__list
            margin-left: 0
            li
                &:before
                    margin-right: 15px
        &__note
            margin-left: 0
            margin-right: 30px
        &__photo
            width: 400px
            margin-top: 270px
    .intro
        height: auto
        background-position: left -500px top
        &__heading
            margin-left: auto
        &__status
            font-size: 22px
            margin-left: auto
            max-width: 440px
        &__text
            text-align: right
        &__arrow
            display: none
        &__sidebar
            height: auto
            width: 440px
            margin: 0 auto
            &-spoiler
                margin-bottom: 100px
    .bad-master
        height: auto
        &__cite
            margin: 58px auto
            &:before
                border-width: 0 0 30px 40px
                border-color: transparent transparent $yellow transparent
                bottom: auto
                top: -30px
                right: 50%
            &:after
                border-width: 0 0 20px 28px
                border-color: transparent transparent #eaeaea transparent
                bottom: auto
                top: -20px
                right: calc(50% + 4px)
        &__alert
            margin-left: 50px
        &__summary
            width: auto
            height: auto
            padding: 25px 25px 25px 50px
            margin: 60px auto 0 -50px
            font-size: 24px
            &:before
                display: none
        &__sidebar
            height: auto
            width: 440px
            margin: 0 auto
        img
            margin-bottom: -35px
    .clean-work
        height: 1400px
        padding-top: 40px
        background-position: center top -80px
        padding-right: 200px
        margin-right: -200px
        &__heading
            font-size: 40px
            &_angled
                padding: 35px 50px
        &__features
            margin-top: 48px
            p
                font-size: 20px
            b
                font-size: 32px
        &__desc
            font-size: 20px
        &__text
            font-size: 18px
            &_angled
                padding: 15px 0
        &__hand
            top: -33px
            right: 0
    .experience
        height: auto
        background: none
        .block
            &__heading
                background-color: $yellow
                font-size: 40px
                margin: 110px auto 0
        &__clock
            display: block
            margin-left: -100px
            margin-bottom: -100px
        &__heading
            font-size: 22px
        &__text
            font-size: 20px
            &_lines
                &:before
                    width: 360px
                    top: 12px
                &:after
                    width: 500px
                    top: 36px
        &__smile
            margin: 0 auto
    .art
        height: auto
        .block
            &__heading
                font-size: 72px
                &_angled
                    font-size: 36px
        &__decor
            display: none
        .list
            height: auto
            margin: 90px 0 0 0
            padding: 0
            background: none
            box-shadow: none
            &:before
                display: none
    .aboutme
        background: none
        .block
            &__heading
                height: auto
                margin: 0 auto
                br
                    display: none
                &:before,&:after
                    display: none
        &__desc
            position: static
            margin: 38px 0 0 auto
        &__image
            margin-top: -80px
            margin-left: -100px
        &__bubble
            width: 100%
            height: auto
            margin: 50px auto 50px
            b
                font-size: 40px
            p
                font-size: 20px
        &__text
            font-size: 20px
            margin-left: 50px
            br
                display: none
        .list
            margin-left: -250px
            width: calc(100% + 250px)
            li
                height: 220px
                flex: 0 0 32%
                border-radius: 70px
                div
                    margin-top: 0
                    b
                        font-size: 30px
                p
                    font-size: 22px
                &:nth-child(1)
                    div
                        flex-direction: row
                        margin-top: 44px
                        img
                            order: 1
                            width: 60px
                            margin-left: 10px
                            margin-bottom: 0
                &:nth-child(2)
                    div
                        margin-top: 0
                &:nth-child(3)
                    div
                        img
                            width: 110px
        &-cite
            height: auto
            padding-bottom: 30px
            &__block
                margin: 0 auto
    .organize
        background: #eeeeee
        .list
            background: $white
            position: relative
            margin: 40px 0 0 0
            padding-top: 50px
            li
                .arrow
                    display: none
                &:nth-child(1), &:nth-child(4)
                    flex: 0 0 50%
                &:nth-child(2), &:nth-child(5)
                    flex: 0 0 50%
                &:nth-child(3), &:nth-child(6)
                    flex: 0 0 50%
                &:nth-child(4)
                    order: 5
                &:nth-child(5)
                    order: 4
                &:nth-child(6)
                    order: 3
            &:before,&:after
                content: ''
                display: block
                position: absolute
                width: 400px
                height: 100%
                background-color: $white
                top: 0
            &:before
                left: -400px
            &:after
                right: -400px
        &-summary
            padding: 100px 0
            &__note
                width: 100%
                height: auto
                margin-bottom: 30px
    .service
        margin-top: 0
        .list
            li
                .counter
                    left: 0
                p
                    margin-left: 50px
    .calmdown
        &__dialogue
            img
                width: 220px
                flex: 0 0 220px
                height: auto
            .sad
                b
                    margin-left: -100px
            .smile
                b
                    margin-top: 160px
                    margin-left: -120px
                    margin-right: -110px
                img
                    width: 220px
                    flex: 0 0 220px
                    height: auto
            .block
                &__heading
                    font-size: 26px
        &-clouds
            .list
                li
                    flex: 0 0 48%
                    padding: 30px
                    .counter
                        margin-top: -50px
                        margin-bottom: 10px
                    p
                        font-size: 20px
        &-buddha
            img
                margin: 30px auto 0
                width: 100%
                height: auto
            .block
                &__heading
                    font-size: 72px
            .list
                li
                    margin-bottom: 30px
                    p
                        font-size: 20px
                    &:nth-child(2)
                        margin-left: 70px
                    &:nth-child(3)
                        margin-left: 116px
                    &:nth-child(4)
                        margin-left: 170px
                    &:nth-child(5)
                        margin-left: 250px
    .price
        padding-top: 300px
        margin-top: -300px
        .block
            &__heading
                font-size: 46px
                margin-bottom: 60px
        &__subheading
            margin-top: 60px
        &__text
            font-size: 20px
            br
                display: none
        &__hidden-text
            right: -240px
        &__calculator
            width: 600px
            height: 900px
            object-fit: contain
        &__form
            &-pre
                margin-right: -150px
                height: auto
                padding: 20px 98px 20px 78px
                p
                    font-size: 20px
                    margin: 0
        &__numbers
            font-size: 90px
            span
                font-size: 52px
        &__notice
            p
                font-size: 20px
                b
                    font-size: 40px
    .compare
        .block
            &__heading
                font-size: 34px
                &_angled
                    font-size: 30px
                    height: auto
                    padding: 5px
                    margin: 0 auto 30px
                    &:after
                        display: none
        &__heading
            font-size: 24px
            br
                display: none
        &__text
            &_bold
                font-size: 20px
        p
            font-size: 20px
            br
                display: none
        .list
            li
                p
                    font-size: 20px
                    br
                        display: none
        &__image
            margin-top: -120px
            margin-bottom: -80px
    .happiness
        padding-top: 50px
        &__decor
            display: none
        .block
            &__heading
                font-size: 36px
                height: auto
                padding: 5px
                margin: 0 auto 30px
                &:after
                    display: none
        .list
            margin-left: 50px
            li
                margin-bottom: 40px
                b
                    font-size: 32px
                    br
                        display: none
                p
                    font-size: 20px
                    br
                        display: none
    .boutique
        background-size: 1600px
        min-height: 0
        .block
            &__heading
                font-size: 40px
                &_sub
                    font-size: 32px
                    span
                        font-size: 52px
        &__image
            margin-bottom: 130px
        &__blocks
            margin: 0
        &__block
            flex: 0 0 49%
            margin-bottom: 30px
        &-more
            background: url("../img/customshop__bg.svg") no-repeat center top / 1920px , linear-gradient(to bottom , #eaeaea 0%, #eaeaea 100%) repeat-x center bottom / 100% 60%
            padding-top: 60px
            padding-bottom: 200px
            min-height: 0
            .block
                &__heading
                    width: 100%
                    font-size: 40px
            &__heading
                width: 100%
                b,p
                    font-size: 20px
            &__blocks
                margin: 50px auto 0
            &__block
                flex: 0 0 49%
    .lighting
        &__desc
            font-size: 20px
        &__decor
            display: none
        &__block
            b
                font-size: 32px
                br
                    display: none
            &_bottom
                b
                    margin: 0
                .image
                    order: 2
    .mounts
        padding-bottom: 60px
        &__subheading
            margin: 30px 0 0 auto
        &__decor
            top: 420px
            height: 1200px
        &__block
            .content
                min-height: 0px
                margin-top: 30px
                margin-bottom: 0px
                b
                    font-size: 40px
                p
                    br
                        display: none
    .manufacturer
        background: none
        .block
            &__heading
                height: auto
                padding: 15px
                margin: 0 auto 0px
                font-size: 36px
                &:after
                    display: none
        &__text
            br
                display: none
            &_bold
                br
                    display: none
        &__image
           margin: 0 auto
        &-more
            padding-right: 900px
            margin-right: -900px
            .block
                &__heading
                    height: auto
                    padding: 15px
                    margin: 0 auto 30px
                    font-size: 36px
                    &:before, &:after
                        display: none
            &__flag
                margin-right: -220px
    .reviews
        background: none
        &__smile
            width: 240px
            height: auto
        .review
            .content
                b
                    span
                        font-size: 38px
                p
                    font-size: 19px
    .warning
        .block
            &__heading
                height: auto
                padding: 15px
                margin: 0 auto 30px
                &:before, &:after
                    display: none
        &__propane
            margin: -50px auto
        &__polymer
            margin: 0 auto 20px
        &__tip
            max-width: 360px
            margin: 0 auto
    .ecology
        .block
            &__heading
                font-size: 34px
                br
                    display: none
        &__heading
            font-size: 39px
        &__img
            margin: 0 auto
    .footer
        .block
            &__heading
                margin: 310px 0 0
                text-align: center
        .price__form
            margin: 0 auto
@media (min-width: 576px) and (max-width: 767px)
    .header
        height: auto
        max-width: 650px
        margin: 0 auto
        background-color: $white
        &__top
            padding: 0 15px
            font-size: 16px
        &__phone
            margin-right: 15px
        &__button
            width: 125px
        &__navbar
            flex-direction: column
            align-items: flex-start
            padding: 21px 0
            &-collapse
                display: none!important
        .navbar-brand
            margin: 0 0 0 30px
            img
                max-width: 190px
        &:after
            content: ''
            display: block
            position: absolute
            bottom: 0
            right: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 0 0 18px 22px
            border-color: transparent transparent #ebebeb transparent
        &:before
            content: ''
            display: block
            position: absolute
            bottom: 0
            left: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 18px 0 0 22px
            border-color: transparent transparent transparent #ebebeb
    .jumbotron
        height: auto
        background: url("../img/jumbotron__bg-mobile.svg") no-repeat center top / 769px
        h1
            font-size: 36px
            line-height: 1.2
            margin: 0 0 44px
            max-width: 290px
            flex-direction: column
            align-items: flex-start
            span
                height: auto
                width: auto
                padding: 4px 15px 0 30px
            p
                font-size: 16px
                flex: 0 0 auto
                max-width: 130px
                margin: 15px 0 0
        &__list
            margin-left: 0
            li
                &:before
                    margin-right: 15px
                p
                    font-size: 15px
                    color: $black
        &__note
            margin: 20px 0
            width: 100%
            font-size: 15px
            &:before
                width: 12px
                height: 18px
                margin-top: -2px
                margin-right: 10px
        &__photo
            width: 240px
            height: 294px
            position: absolute
            bottom: -22px
            right: -80px
            margin: 0
        &__block-mobile
            padding-top: 2px
            display: block
            position: relative
            margin-bottom: 29px + 20px
            .link
                display: block
                font-weight: 700
                margin-bottom: 15px
                font-size: 16px
            .buttons
                .button
                    border: none
                    font-size: 14px
                    justify-content: flex-start
                    padding: 12px
                    box-shadow: 0px 6px 10px rgba(0,0,0,0.18)
                    position: relative
                    z-index: 1
                    &:nth-child(1)
                        background-color: $blue
                        color: $white
                        max-width: 140px
                        margin-bottom: 8px
                        &:hover
                            background-color: darken($blue, 10%)
                    &:nth-child(2)
                        background-color: $yellow
                        max-width: 210px
                        &:hover
                            background-color: darken($yellow, 20%)
            &:after
                content: ''
                display: block
                width: calc(100vw + 120px)
                height: 4px
                position: absolute
                bottom: -19px
                left: -120px
                box-shadow: 0px 8px 19px rgba(0,0,0,0.55)
    .intro
        height: auto
        padding-top: 20px
        background: none
        &__heading
            font-size: 36px
            line-height: 1.2
            padding: 7px 30px 0
            background-color: $yellow
            max-width: calc(100% + 60px)
            margin: 0 -30px 26px
        &__status
            font-size: 21px
            font-weight: 700
            max-width: 260px
        &__arrow
            display: none
        &__sidebar
            height: auto
            width: calc(100% + 60px)
            margin: 0 -30px 0
            padding: 15px 30px
            background-color: #ffcf57
            &-title
                font-size: 21px
            .intro__text
                font-size: 15px
            &:before
                display: none
            &-spoiler
                width: 140px
                margin: 25px 0 10px auto
                font: 21px "Gilroy", sans-serif
                text-transform: none
                font-weight: 700
                img
                    width: 13px
                    margin-left: 2px
            &-dialogue
                font-size: 20px
                color: $black
                width: 210px
                text-align: right
                margin: 60px 20px -120px auto
                span
                    margin: 0
                &:after
                    display: none
        &__image
            width: calc(100% + 60px)
            margin: 0 -30px
            object-fit: cover
            object-position: 100%
    .bad-master
        height: auto
        p
            font-size: 15px
            br
                display: none
        &__cite
            margin: 15px auto 58px + 55px
            padding: 15px
            font-size: 36px
            height: 169px
        &__alert
            margin: 0 -30px
            padding: 30px
            background-color: $white
            &:before
                display: none
        &__note
            margin: 0 -30px
            padding: 15px 30px
            font-weight: 700
            background-color: #eaeaea
        &__summary
            width: calc(100% + 60px)
            padding: 25px 30px
            margin: 0 -30px 0
            font-size: 15px
            height: auto
            &:before
                display: none
        &__sidebar
            height: auto
            width: 100%
            margin: 0 auto
            padding: 0
            background: none
        img
            position: absolute
            width: 232px
            height: 215px
            object-fit: contain
            top: 0
            right: -40px
    .clean-work
        height: auto
        padding-top: 40px
        background: linear-gradient(to bottom, #eaeaea 0%, #eaeaea 95%, #ffffff 100%)
        background-position: center top
        background-size: contain
        padding-bottom: 0
        &__heading
            display: block
            font-size: 24px
            max-width: 250px
            &_angled
                padding: 14px 30px
                margin: 30px -30px
                height: auto
                max-width: calc(100% + 60px)
                b
                    margin: 0
                &:after
                    display: none
        &__features
            margin: 16px auto 59px
            img
                position: relative
                z-index: 1
                width: 44px
                margin-bottom: 13px
            b,p
                position: relative
                z-index: 1
            p
                font-size: 15px
            b
                font-size: 21px
            .list
                li
                    p
                        font-size: 15px
                    &:before
                        z-index: 1
                        margin-right: 10px
            &:after
                content: ''
                position: absolute
                top: 0
                left: -30px
                width: calc(100% + 60px)
                height: calc(100% - 43px)
                background-color: $blue
                z-index: 0
        &__desc
            font-size: 15px
            b
                font-weight: 700
        &__text
            font-size: 15px
            &_angled
                height: auto
                padding: 0
                background: none
                &:before,&:after
                    display: none
        &__hand
            top: 0
            right: 0
            width: 210px
            height: auto
            object-fit: contain
            margin: 0 -50px -140px auto
            transform: rotate(15deg)
    .blow
        img
            object-fit: contain
            width: 810px
            left: -60px
        &__circle
            width: 225px
            height: 225px
            b
                font-size: 33px
    .experience
        height: auto
        background: none
        .block
            &__heading
                background-color: $yellow
                margin: 10px -30px 0
                padding: 0 30px
                font-size: 36px
        &__clock
            width: 165px
            height: auto
            margin: -80px 0 0 -30px
            position: relative
            z-index: 1
        &__heading
            font-size: 15px
            background-color: $yellow
            padding: 10px 30px
            margin: 80px -30px 0
            span
                font-size: 21px
                padding: 10px 30px
                margin: -10px -30px 10px
                background-color: $white
        .list
            li
                align-items: flex-start
                img
                    width: 32px
                    height: 32px
                    margin-right: 14px
                p
                    font-size: 15px
                    margin: 0!important
        &__subheading
            font-size: 36px
            margin: -80px 0 0 auto
            max-width: 180px
            img
                width: 100px
                height: auto
        &__text
            font-size: 15px
            &_lines
                &:before
                    top: 8px
                    width: 280px
                &:after
                    width: 380px
                    top: 27px
        &__smile
            margin: 0 0 0 auto
            width: 220px
            height: auto
        &__header
            .block
                &_gray
                    background-color: #eaeaea
                    width: 128px
                    height: 44px
                    position: relative
                    margin-left: -30px
                    &:after
                        content: ''
                        display: block
                        position: absolute
                        top: 0
                        right: -48px
                        width: 0
                        height: 0
                        border-style: solid
                        border-width: 44px 0 0 48px
                        border-color: transparent transparent transparent #eaeaea
                &_gradient
                    margin: 0 -30px
                    width: calc(100% + 60px)
                    height: 19px
                    background: linear-gradient(to right, #FFA600 0%, #FFCF57 100%)
    .art
        height: auto
        padding-top: 50px
        .block
            &__heading
                font-size: 36px
                margin-bottom: 15px
                &_angled
                    font-size: 26px
                    padding: 30px 30px
                    height: auto
                    margin: 0 -30px 37px
                    &:after
                        display: none
        &__decor
            display: none
        .list
            height: auto
            margin: 0 0 0 30px
            padding: 0
            background: none
            box-shadow: none
            li
                margin-bottom: 30px !important
                b
                    font-size: 21px
                p
                    font-size: 15px
                    margin-left: -30px
                &:before
                    left: -30px
            &:before
                display: none
    .aboutme
        background: none
        .block
            &__heading
                height: 116px
                padding: 18px 60px 18px 20px
                max-width: calc(100% - 40px)
                font-size: 36px
                margin: 0 -30px 0 auto
                &:before
                    left: -90px
                    border-width: 0 90px 116px 0
                    border-color: transparent $blue transparent transparent
                &:after
                    display: none
        &__heading
            display: flex
            .experience__smile
                width: 100px
                margin-left: -30px
                margin-right: 20px
        &__desc
            position: static
            margin: 15px 0 0 auto
            font-size: 15px
            br
                display: none
            b
                font-weight: 400
        &__image
            margin: 70px auto 0px -40px
            width: 140px
            height: auto
        &__bubble
            width: calc(100% + 60px)
            height: auto
            padding: 14px 24px
            border-radius: 40px
            margin: 20px -30px 20px -30px
            b
                font-size: 21px
            p
                font-size: 15px
            &:before
                left: -10px
                bottom: auto
                top: 20px
                border-width: 0 0 15px 15px
                border-color: transparent transparent $white transparent
        &__text
            font-size: 15px
            margin-bottom: 15px
            margin-left: 20px
            margin-right: -10px
            max-width: 200px
            br
                display: none
            span
                color: #6a6a6a
                border-bottom: none
                font-weight: 400
            &_bold
                color: $blue
                font-size: 21px
            &_pre
                color: $blue
        .list
            margin: 30px auto -300px -37%
            width: calc(100% + 37%)
            flex-wrap: wrap
            li
                flex: 0 0 48%
                width: 48%
                border-radius: 30px
                margin-bottom: 30px
                padding: 15px
                height: 120px
                div
                    margin-top: 0
                    b
                        font-size: 21px
                p
                    font-size: 15px
                    margin: 0
                &:nth-child(1)
                    div
                        margin-top: 0px
                        img
                            width: 37px
                            margin-bottom: 0
                &:nth-child(2)
                    div
                        margin-top: 15px
                        img
                            width: 44px
                &:nth-child(3)
                    flex: 0 0 100%
                    div
                        margin-top: -10px
                        img
                            width: 60px
                        b
                            font-size: 78px
                    p
                        margin: 5px 0 0 96px
        &-cite
            height: auto
            padding: 250px 0 20px
            &__block
                margin: 30px auto 0
                width: 100%
                height: auto
                position: relative
                padding: 15px
                .arrow-up
                    top: -20px
                    left: 10px
                    border-width: 0 0 20px 32px
                    &:after
                        left: -33px
                        border-width: 0 0 18px 30px
                .arrow-right
                    border-width: 0 60px 40px 0
                    &:after
                        border-width: 0 62px 42px 0
                        right: -63px
                p
                    font-size: 16px
                    margin-bottom: 20px
            &__texts
                margin: 0
                p
                    font-size: 16px
                    br
                        display: none
    .organize
        padding-top: 0px
        background: $white
        .block
            &__heading
                font-size: 36px
                height: auto
                padding: 5px 15px
                margin: 0 -15px
                &:after
                    display: none
        .list
            background: $white
            position: relative
            margin: 40px 0 0 0
            li
                margin-bottom: 25px !important
                display: flex
                align-items: flex-end
                .counter
                    b
                        display: block
                        font-size: 32px
                        height: 32px
                        span
                            font-size: 18px
                p
                    margin: 0 0 0 25px
                    font-size: 16px
                    br
                        display: none
                .arrow
                    display: none
                &:nth-child(1), &:nth-child(4)
                    flex: 0 0 100%
                &:nth-child(2), &:nth-child(5)
                    flex: 0 0 100%
                &:nth-child(3), &:nth-child(6)
                    flex: 0 0 100%
                &:nth-child(4)
                    order: 5
                &:nth-child(5)
                    order: 4
                &:nth-child(6)
                    order: 3
            &:before,&:after
                content: ''
                display: block
                position: absolute
                width: 400px
                height: 100%
                background-color: $white
                top: 0
            &:before
                left: -400px
            &:after
                right: -400px
        &-summary
            padding: 40px 0
            min-height: 0
            &__note
                padding: 16px
                font-size: 18px
                width: 100%
                height: auto
            .list
                margin-top: 15px
                li
                    p
                        font-size: 15px
                &-pre
                    font-size: 15px
    .service
        margin-top: 0
        .block
            &__heading
                height: auto
                padding: 30px 15px
                margin: 0 -15px 40px
                font-size: 24px
                br
                    display: none
                &:before, &:after
                    display: none
        &__text
            font-size: 18px
        &__note
            font-size: 18px
            text-align: center
            width: 100%
            height: auto
            padding: 20px
            margin: 35px auto
        p
            font-size: 15px
        .list
            flex-direction: column
            li
                flex: 0 0 auto
                margin-bottom: 30px
                .counter
                    left: 0
                    font-size: 48px
                    line-height: 48px
                p
                    margin-left: 40px
            &-pre
                margin: 10px 0 50px
                height: auto
                width: 108px
                font-size: 24px
                padding: 8px
    .calmdown
        padding-top: 0px
        margin-top: 0px
        background-size: 100%
        &__lamp
            max-width: 100px
            height: auto
            margin: calc(-30px + 50vw) auto 0
        &__dialogue
            display: flex
            flex-direction: column
            img
                width: 160px
                flex: 0 0 160px
                height: auto
            .sad
                max-width: 100%
                flex-direction: column
                b
                    margin: 0 0 0 50px
            .smile
                max-width: 100%
                margin: 15px 0 0
                align-items: flex-end
                b
                    margin: 0
                    order: 1
                    text-align: right
                img
                    width: 160px
                    flex: 0 0 160px
                    height: auto
                    order: 0
            .block
                &__heading
                    font-size: 22px
        &-clouds
            padding-bottom: 260px
            background: linear-gradient(to bottom, #ffffff 0%, #ffffff 90%, #129FE1 100%)
            .list
                flex-direction: column
                li
                    flex: 0 0 auto
                    padding: 30px
                    margin: 0 -30px 30px
                    border-radius: 0
                    .counter
                        margin-top: -50px
                        margin-bottom: 10px
                    p
                        font-size: 15px
                        br
                            display: none
            img
                top: auto
                bottom: -330px
                left: -140px
                height: auto
                width: 960px
        &-buddha
            padding-bottom: 50px
            img
                margin: 30px auto 0
                width: 100%
                height: auto
            .block
                &__heading
                    font-size: 60px
                    text-align: right
                    letter-spacing: 0
                    max-width: 280px
                    margin: 0 auto
            &__note
                width: 100%
                height: auto
                font-size: 15px
                margin: -10px auto 0
            .list
                li
                    margin-bottom: 20px
                    margin-left: 0 !important
                    p
                        font-size: 15px
                        br
                            display: none
                &-pre
                    margin: 20px auto
                    font-size: 21px
    .price
        padding-top: 300px
        margin-top: -300px
        .block
            &__heading
                font-size: 30px
                height: auto
                padding: 5px
                margin: 0 auto 30px
                &:before, &:after
                    display: none
        &__subheading
            margin-top: 60px
            font-size: 30px
        &__text
            font-size: 20px
            br
                display: none
        &__hidden-text
            display: none
        &__calculator
            width: 600px
            height: 900px
            object-fit: contain
        &__form
            max-width: 100%
            &-pre
                height: auto
                padding: 20px
                border-radius: 40px
                margin: 0 auto 48px
                p
                    font-size: 20px
                    margin: 0
        &__block
            margin: 0 auto 30px
            max-width: 100%
        &__numbers
            font-size: 90px
            span
                font-size: 52px
        &__notice
            margin: 0
            img
                margin: 0 auto 20px
            p
                font-size: 20px
                text-align: center
                b
                    font-size: 40px
    .compare
        background: none
        margin: 0
        padding: 0
        .block
            &__heading
                background-color: $yellow
                padding: 5px 15px
                margin: 0 -15px 15px
                font-size: 24px
                &_main
                    padding: 5px 30px
                    margin: 0 -30px 20px
                    height: auto
                    max-width: calc(100% + 60px)
                    &:before, &:after
                        display: none
                &_angled
                    font-size: 24px
                    height: auto
                    max-width: calc(100% + 30px)
                    padding: 10px 15px
                    margin: 0 -15px 15px
                    &:after
                        display: none
        &__heading
            font-size: 18px
            margin-right: -38%
            br
                display: none
        &__arrows
            display: none
            &:before
                display: none
        &__text
            &_bold
                font-size: 21px
                margin: 70px 0 30px
            &_angled
                height: auto
                width: 100vw
                padding: 15px 80px 15px 15px
                font-size: 15px
                margin: 20px -15px 0
                br
                    display: none
                &:after
                    display: none
        p
            font-size: 15px
            br
                display: none
        .list
            margin-bottom: 0px
            padding: 40px 50px 0px
            flex-direction: column
            li
                flex: 0 0 auto
                margin-bottom: 30px
                b
                    font-size: 24px
                    margin-bottom: 15px
                p
                    font-size: 15px
                    margin: 0
                    br
                        display: none
        &__image
            margin: 90px 0 -20px -30px
            width: 110px
            height: auto
        &__note
            flex-direction: column
            div
                margin: 15px auto 40px
                p
                    font-size: 18px
                    text-align: center
            img
                display: block
                width: 110px
                height: 110px
                flex: 0 0 110px
            .block
                &__heading
                    background: none
                    margin-bottom: 15px
                    max-width: 190px
                    margin: 0 auto
    .happiness
        &__decor
            display: none
        .block
            &__heading
                font-size: 24px
                height: auto
                padding: 5px 30px
                margin: 0 -30px 30px
                &:after
                    display: none
        .list
            margin-left: 30px
            li
                margin-bottom: 20px
                &:before
                    top: 0
                    left: -30px
                b
                    font-size: 21px
                    br
                        display: none
                p
                    font-size: 15px
                    br
                        display: none
    .boutique
        background-size: 1400px
        min-height: 0
        margin-top: 60px
        .block
            &__heading
                font-size: 32px
                br
                    display: none
                &_sub
                    font-size: 32px
                    span
                        font-size: 44px
        &__text
            font-size: 16px
            margin-bottom: 15px
            &_angled
                height: auto
                padding: 8px
                margin: 0 auto 30px
                font-size: 16px
                &:after
                    display: none
            &_hidden
                top: -20px
                font-size: 260px
                line-height: 260px
                right: -500px
        &__image
            margin-bottom: 130px
        &__blocks
            margin: 0
        &__block
            flex: 0 0 49%
            margin-bottom: 30px
        &-more
            background: url("../img/customshop__bg.svg") no-repeat center top / 1920px , linear-gradient(to bottom , #eaeaea 0%, #eaeaea 100%) repeat-x center bottom / 100% 60%
            padding-top: 60px
            padding-bottom: 100px
            min-height: 0
            .block
                &__heading
                    width: 100%
                    font-size: 40px
            &__heading
                width: 100%
                b,p
                    font-size: 20px
            &__blocks
                margin: 50px auto 0
            &__block
                flex: 0 0 49%
    .lighting
        .block
            &__heading
                height: auto
                padding: 8px
                margin: 0 auto 30px
                font-size: 40px
                &:after
                    display: none
        &__desc
            font-size: 20px
            br
                display: none
        &__decor
            display: none
        &__block
            b
                font-size: 32px
                br
                    display: none
            &_bottom
                b
                    margin: 0
                .image
                    order: 2
    .mounts
        .block
            &__heading
                height: auto
                padding: 8px
                margin: 0 auto 0px
                font-size: 36px
                &:after
                    display: none
                &:last-child
                    max-width: 100%
        &__subheading
            margin: 30px 0 0 auto
            b
                font-size: 36px
            p
                font-size: 20px
        &__decor
            top: 420px
            height: 1100px
        &__block
            .content
                min-height: 0px
                margin-top: 30px
                margin-bottom: 0px
                b
                    font-size: 40px
                p
                    br
                        display: none
    .manufacturer
        background: none
        .block
            &__heading
                height: auto
                padding: 15px
                margin: 0 auto 0px
                font-size: 36px
                &:after
                    display: none
        &__text
            br
                display: none
            &_bold
                br
                    display: none
        &__image
            max-width: 100%
            height: auto
            margin: 0 auto
        &-more
            padding-right: 900px
            margin-right: -900px
            .block
                &__heading
                    height: auto
                    padding: 15px
                    margin: 0 auto 30px
                    font-size: 36px
                    &:before, &:after
                        display: none
            &__text
                margin-right: 0
            &__flag
                margin-right: -420px
    .portfolio
        .block
            &__heading
                font-size: 44px
        &__slider
            &_nodesc
                .portfolio
                    &__slider
                        &-cell
                            width: calc(100% + 100px)
    .reviews
        background: none
        &__smile
            width: 240px
            height: auto
        .review
            .content
                b
                    span
                        font-size: 38px
                p
                    font-size: 19px
    .warning
        .block
            &__heading
                height: auto
                padding: 15px
                font-size: 36px
                margin: 0 auto 30px
                br
                    display: none
                &:before, &:after
                    display: none
        &__propane
            margin: -50px auto
        &__polymer
            margin: 0 auto 20px
        &__tip
            max-width: 360px
            margin: 0 auto
    .ecology
        .block
            &__heading
                font-size: 34px
                height: auto
                br
                    display: none
                &:after
                    display: none
        &__heading
            font-size: 39px
        &__img
            margin: 0 auto
    .children
        .block
            &__heading
                height: auto
                &:after
                    height: 100%
        &__title
            display: block
            text-align: center
            margin-bottom: 20px
    .footer
        .block
            &__heading
                margin: 310px 0 0
                text-align: center
        .price__form
            margin: 0 auto
@media (max-width: 575px)
    .input
        font-size: 16px
        height: 52px
        +placeholder
            font-size: 16px
    .button
        font-size: 16px
        height: 52px
    .header
        height: auto
        background-color: #ebebeb
        &__top
            padding: 0 15px
            font-size: 16px
        &__phone
            margin-right: 15px
        &__button
            width: 125px
        &__navbar
            flex-direction: column
            align-items: flex-start
            padding: 21px 0
            &-collapse
                display: none!important
        .navbar-brand
            margin: 0 0 0 30px
            img
                max-width: 190px
        &:after
            content: ''
            display: block
            position: absolute
            bottom: 0
            right: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 0 0 18px 22px
            border-color: transparent transparent #ebebeb transparent
        &:before
            content: ''
            display: block
            position: absolute
            bottom: 0
            left: 0
            width: 0
            height: 0
            border-style: solid
            border-width: 18px 0 0 22px
            border-color: transparent transparent transparent #ebebeb
    .jumbotron
        height: auto
        background: url("../img/jumbotron__bg-mobile.svg") no-repeat center top / 769px
        h1
            font-size: 36px
            line-height: 1.2
            margin: 0 0 44px
            max-width: 290px
            flex-direction: column
            align-items: flex-start
            span
                height: auto
                width: auto
                padding: 4px 15px 0 30px
            p
                font-size: 16px
                flex: 0 0 auto
                max-width: 130px
                margin: 15px 0 0
        &__list
            margin-left: 0
            li
                &:before
                    margin-right: 15px
                p
                    font-size: 15px
                    color: $black
        &__note
            margin: 20px 0
            width: 100%
            font-size: 15px
            &:before
                width: 12px
                height: 18px
                margin-top: -2px
                margin-right: 10px
        &__photo
            width: 240px
            height: 294px
            position: absolute
            bottom: -22px
            right: -80px
            margin: 0
        &__block-mobile
            padding-top: 2px
            display: block
            position: relative
            margin-bottom: 29px + 20px
            .link
                display: block
                font-weight: 700
                margin-bottom: 15px
                font-size: 16px
            .buttons
                .button
                    border: none
                    font-size: 14px
                    justify-content: flex-start
                    padding: 12px
                    box-shadow: 0px 6px 10px rgba(0,0,0,0.18)
                    position: relative
                    z-index: 1
                    &:nth-child(1)
                        background-color: $blue
                        color: $white
                        max-width: 140px
                        margin-bottom: 8px
                        &:hover
                            background-color: darken($blue, 10%)
                    &:nth-child(2)
                        background-color: $yellow
                        max-width: 210px
                        &:hover
                            background-color: darken($yellow, 20%)
            &:after
                content: ''
                display: block
                width: calc(100% + 60px)
                height: 4px
                position: absolute
                bottom: -19px
                left: -30px
                box-shadow: 0px 8px 19px rgba(0,0,0,0.55)
    .intro
        height: auto
        padding-top: 20px
        background: none
        &__heading
            font-size: 36px
            line-height: 1.2
            padding: 7px 30px 0
            background-color: $yellow
            margin: 0 -30px 26px
        &__status
            font-size: 21px
            font-weight: 700
            max-width: 260px
        &__arrow
            display: none
        &__sidebar
            height: auto
            width: calc(100% + 60px)
            margin: 0 -30px 0
            padding: 15px 30px
            background-color: #ffcf57
            &-title
                font-size: 21px
            .intro__text
                font-size: 15px
            &:before
                display: none
            &-spoiler
                width: 140px
                margin: 25px 0 10px auto
                font: 21px "Gilroy", sans-serif
                text-transform: none
                font-weight: 700
                img
                    width: 13px
                    margin-left: 2px
            &-dialogue
                font-size: 20px
                color: $black
                width: 210px
                text-align: right
                margin: 60px 20px -120px auto
                span
                    margin: 0
                &:after
                    display: none
        &__image
            width: calc(100vw + 30px)
            margin: 0 -30px
            object-fit: cover
            object-position: 100%
    .bad-master
        height: auto
        p
            font-size: 15px
            br
                display: none
        &__cite
            margin: 15px auto 58px + 55px
            padding: 15px 22px
            font-size: 36px
            height: 169px
            b
                display: block
                max-width: 220px
                line-height: 1.2
                br
                    display: block
        &__alert
            margin: 0 -30px
            padding: 30px
            background-color: $white
            &:before
                display: none
        &__note
            margin: 0 -30px
            padding: 15px 30px
            font-weight: 700
            background-color: #eaeaea
        &__summary
            width: calc(100% + 60px)
            padding: 25px 30px
            margin: 35px -30px 0
            font-size: 15px
            height: auto
            &:before
                display: none
            &:after
                content: ''
                display: block
                width: calc(100% + 60px)
                height: 35px
                background-color: $white
                position: absolute
                top: -35px
                left: -30px
        &__sidebar
            height: auto
            width: 100%
            margin: 0 auto
            padding: 0
            background: none
        img
            position: absolute
            width: 232px
            height: 215px
            object-fit: contain
            top: 0
            right: -40px
    .clean-work
        height: auto
        padding-top: 40px
        background: linear-gradient(to bottom, #eaeaea 0%, #eaeaea 95%, #ffffff 100%)
        background-position: center top
        background-size: contain
        padding-bottom: 0
        &__heading
            display: block
            font-size: 24px
            max-width: 250px
            line-height: 1.2
            &_angled
                padding: 14px 30px
                margin: 30px -30px
                height: auto
                max-width: calc(100% + 60px)
                b
                    margin: 0
                &:after
                    display: none
        &__features
            margin: 16px auto 59px
            img
                position: relative
                z-index: 1
                width: 44px
                margin-bottom: 13px
            b,p
                position: relative
                z-index: 1
            p
                font-size: 15px
            b
                font-size: 21px
            .list
                li
                    p
                        font-size: 15px
                    &:before
                        z-index: 1
                        margin-right: 10px
            &:after
                content: ''
                position: absolute
                top: 0
                left: -30px
                width: calc(100% + 60px)
                height: calc(100% - 43px)
                background-color: $blue
                z-index: 0
        &__desc
            font-size: 15px
            b
                font-weight: 700
        &__text
            font-size: 15px
            &_angled
                height: auto
                padding: 0
                background: none
                &:before,&:after
                    display: none
        &__hand
            top: 0
            right: 0
            width: 210px
            height: auto
            object-fit: contain
            margin: 0 -50px -140px auto
            transform: rotate(15deg)
    .blow
        img
            object-fit: contain
            width: 810px
            left: -100px
        &__circle
            width: 225px
            height: 225px
            b
                font-size: 33px
    .experience
        height: auto
        background: none
        .block
            &__heading
                background-color: $yellow
                margin: 10px -30px 0
                padding: 19px 30px
                font-size: 36px
                line-height: 1.2
        &__clock
            width: 165px
            height: auto
            margin: -80px 0 0 -30px
            position: relative
            z-index: 1
        &__heading
            font-size: 15px
            background-color: $yellow
            padding: 10px 30px
            margin: 80px -30px 0
            span
                font-size: 21px
                padding: 10px 30px
                margin: -10px -30px 10px
                background-color: $white
        .list
            li
                align-items: flex-start
                img
                    width: 32px
                    height: 32px
                    margin-right: 14px
                p
                    font-size: 15px
                    margin: 0!important
        &__subheading
            font-size: 36px
            margin: -80px 0 0 auto
            max-width: 180px
            img
                width: 100px
                height: auto
        &__text
            font-size: 15px
            &_lines
                &:before
                    top: 8px
                    width: 280px
                &:after
                    width: 380px
                    top: 27px
        &__smile
            margin: 0 0 0 auto
            width: 220px
            height: 150px
        &__header
            .block
                &_gray
                    background-color: #eaeaea
                    width: 128px
                    height: 44px
                    position: relative
                    margin-left: -30px
                    &:after
                        content: ''
                        display: block
                        position: absolute
                        top: 0
                        right: -48px
                        width: 0
                        height: 0
                        border-style: solid
                        border-width: 44px 0 0 48px
                        border-color: transparent transparent transparent #eaeaea
                &_gradient
                    margin: 0 -30px
                    width: calc(100% + 60px)
                    height: 19px
                    background: linear-gradient(to right, #FFA600 0%, #FFCF57 100%)
    .art
        height: auto
        padding-top: 50px
        .block
            &__heading
                font-size: 32px
                margin-bottom: 15px
                line-height: 1.2
                &_angled
                    font-size: 26px
                    padding: 30px 30px
                    height: auto
                    margin: 0 -30px 37px
                    &:after
                        display: none
        &__decor
            display: none
        .list
            height: auto
            margin: 0 0 0 30px
            padding: 0
            background: none
            box-shadow: none
            li
                margin-bottom: 30px !important
                b
                    font-size: 21px
                p
                    font-size: 15px
                    margin-left: -30px
                &:before
                    left: -30px
            &:before
                display: none
    .aboutme
        background: none
        .block
            &__heading
                height: 116px
                padding: 18px 40px 18px 20px
                max-width: calc(100% - 40px)
                font-size: 36px
                margin: 0 -30px 0 auto
                line-height: 1.2
                &:before
                    left: -90px
                    border-width: 0 90px 116px 0
                    border-color: transparent $blue transparent transparent
                &:after
                    display: none
        &__heading
            display: flex
            .experience__smile
                width: 100px
                margin-left: -30px
                margin-right: 20px
        &__desc
            position: static
            margin: 15px 0 0 auto
            font-size: 15px
            br
                display: none
            b
                font-weight: 400
        &__image
            margin: 70px auto 0px -40px
            width: 140px
            height: auto
        &__bubble
            width: calc(100% + 60px)
            height: auto
            padding: 14px 24px
            border-radius: 40px
            margin: 20px -40px 20px -30px
            b
                font-size: 21px
            p
                font-size: 15px
            &:before
                left: -10px
                bottom: auto
                top: 20px
                border-width: 0 0 15px 15px
                border-color: transparent transparent $white transparent
        &__text
            font-size: 15px
            margin-bottom: 15px
            margin-left: 20px
            margin-right: -16px
            max-width: 200px
            br
                display: none
            span
                color: #6a6a6a
                border-bottom: none
                font-weight: 400
            &_bold
                color: $blue
                font-size: 21px
            &_pre
                color: $blue
        .list
            margin: 30px auto -300px -37%
            width: calc(100% + 37%)
            flex-wrap: wrap
            li
                flex: 0 0 48%
                width: 48%
                border-radius: 30px
                margin-bottom: 30px
                padding: 15px
                height: 120px
                div
                    margin-top: 0
                    b
                        font-size: 21px
                p
                    font-size: 15px
                    margin: 0
                &:nth-child(1)
                    div
                        margin-top: 0px
                        img
                            width: 37px
                            margin-bottom: 0
                &:nth-child(2)
                    div
                        margin-top: 15px
                        img
                            width: 44px
                &:nth-child(3)
                    flex: 0 0 100%
                    div
                        margin-top: -10px
                        img
                            width: 60px
                        b
                            font-size: 78px
                    p
                        margin: 5px 0 0 96px
        &-cite
            height: auto
            padding: 250px 0 20px
            &__block
                margin: 30px auto 0
                width: 100%
                height: auto
                position: relative
                padding: 15px
                .arrow-up
                    top: -20px
                    left: 10px
                    border-width: 0 0 20px 32px
                    &:after
                        left: -33px
                        border-width: 0 0 18px 30px
                .arrow-right
                    border-width: 0 60px 40px 0
                    &:after
                        border-width: 0 62px 42px 0
                        right: -63px
                p
                    font-size: 16px
                    margin-bottom: 20px
            &__texts
                margin: 0
                p
                    font-size: 16px
                    br
                        display: none
    .organize
        padding-top: 0px
        background: $white
        .block
            &__heading
                font-size: 36px
                height: auto
                padding: 5px 15px
                margin: 0 -15px
                line-height: 1.2
                &:after
                    display: none
        .list
            background: $white
            position: relative
            margin: 40px 0 0 0
            li
                margin-bottom: 25px !important
                display: flex
                align-items: flex-end
                .counter
                    b
                        display: block
                        font-size: 32px
                        height: 32px
                        span
                            font-size: 18px
                p
                    margin: 0 0 0 25px
                    font-size: 16px
                    br
                        display: none
                .arrow
                    display: none
                &:nth-child(1), &:nth-child(4)
                    flex: 0 0 100%
                &:nth-child(2), &:nth-child(5)
                    flex: 0 0 100%
                &:nth-child(3), &:nth-child(6)
                    flex: 0 0 100%
                &:nth-child(4)
                    order: 5
                &:nth-child(5)
                    order: 4
                &:nth-child(6)
                    order: 3
            &:before,&:after
                content: ''
                display: block
                position: absolute
                width: 400px
                height: 100%
                background-color: $white
                top: 0
            &:before
                left: -400px
            &:after
                right: -400px
        &-summary
            padding: 40px 0
            min-height: 0
            &__note
                padding: 16px
                font-size: 18px
                width: 100%
                height: auto
            .list
                margin-top: 15px
                li
                    p
                        font-size: 15px
                &-pre
                    font-size: 15px
    .service
        margin-top: 0
        .block
            &__heading
                height: auto
                padding: 30px 15px
                margin: 0 -15px 40px
                font-size: 24px
                line-height: 1.2
                br
                    display: none
                &:before, &:after
                    display: none
        &__text
            font-size: 18px
        &__note
            font-size: 18px
            text-align: center
            width: 100%
            height: auto
            padding: 20px
            margin: 35px auto
        p
            font-size: 15px
        .list
            flex-direction: column
            li
                flex: 0 0 auto
                margin-bottom: 30px
                .counter
                    left: 0
                    font-size: 48px
                    line-height: 48px
                p
                    margin-left: 40px
            &-pre
                margin: 10px 0 50px
                height: auto
                width: 108px
                font-size: 24px
                padding: 8px
    .calmdown
        padding-top: 0px
        margin-top: 0px
        background-size: 100%
        &__lamp
            max-width: 100px
            height: auto
            margin: calc(-30px + 50vw) auto 0
        &__dialogue
            display: flex
            flex-direction: column
            img
                width: 160px
                flex: 0 0 160px
                height: auto
            .sad
                max-width: 100%
                flex-direction: column
                b
                    margin: 0 0 0 50px
                    line-height: 1.2
            .smile
                max-width: 100%
                margin: 15px 0 0
                align-items: flex-end
                b
                    margin: 0
                    order: 1
                    text-align: right
                    line-height: 1.2
                img
                    width: 160px
                    flex: 0 0 160px
                    height: auto
                    order: 0
            .block
                &__heading
                    font-size: 22px
        &-clouds
            padding-bottom: 260px
            background: linear-gradient(to bottom, #ffffff 0%, #ffffff 90%, #129FE1 100%)
            .list
                flex-direction: column
                li
                    flex: 0 0 auto
                    padding: 30px
                    margin: 0 -30px 30px
                    border-radius: 0
                    .counter
                        margin-top: -50px
                        margin-bottom: 10px
                    p
                        font-size: 15px
                        br
                            display: none
            img
                top: auto
                bottom: -330px
                left: -140px
                height: auto
                width: 960px
        &-buddha
            padding-bottom: 50px
            img
                margin: 30px auto 0
                width: 100%
                height: auto
            .block
                &__heading
                    font-size: 60px
                    text-align: right
                    letter-spacing: 0
                    max-width: 280px
                    margin: 0 auto
            &__note
                width: 100%
                height: auto
                font-size: 15px
                margin: -10px auto 0
            .list
                li
                    margin-bottom: 20px
                    margin-left: 0 !important
                    p
                        font-size: 15px
                        br
                            display: none
                &-pre
                    margin: 20px auto
                    font-size: 21px
    .price
        padding-top: 0px
        margin-top: 0px
        background: url("../img/price__bg-mobile.svg") no-repeat center top 70px / 790px, linear-gradient(to bottom, #eaeaea 0%, #ffffff 50%, #ffffff 80%, #eaeaea 100%)
        min-height: 0
        padding-bottom: 0
        .block
            &__heading
                font-size: 24px
                height: auto
                padding: 10px 15px 8px
                margin: 0 -15px 30px
                line-height: 1.2
                br
                    display: none
                &:before, &:after
                    display: none
        &__subheading
            margin: 40px 0 20px
            font-size: 26px
            line-height: 1.2
        &__text
            font-size: 15px
            &_bold
                font-size: 18px
        &__hidden-text
            display: none
        &__form
            max-width: 100%
            padding: 41px 20px 27px
            p
                font-size: 16px
            .input
                padding-left: 10px
            .button
                padding-left: 10px
            &-pre
                height: 72px
                padding: 0px
                border-radius: 0
                background: none
                margin: 0 auto 48px
                p
                    font-size: 15px
                    margin: 0
        &__block
            margin: 0 auto 30px
            max-width: 100%
            padding: 30px
            font-size: 15px
            b, p
                br
                    display: none
            .note
                margin-bottom: 30px
        &__numbers
            font-size: 59px
            span
                font-size: 48px
        &__notice
            margin: 0
            img
                margin: 0 0 20px
                width: 94px
                height: 94px
                flex: 0 0 94px
            p
                font-size: 15px
                b
                    font-size: 21px
    .compare
        background: none
        margin: 0
        padding: 0
        .block
            &__heading
                background-color: $yellow
                padding: 5px 15px
                margin: 0 -15px 15px
                font-size: 24px
                line-height: 1.2
                &_main
                    padding: 5px 30px
                    margin: 0 -30px 20px
                    height: auto
                    max-width: calc(100% + 60px)
                    &:before, &:after
                        display: none
                &_angled
                    font-size: 24px
                    height: auto
                    max-width: calc(100% + 30px)
                    padding: 10px 15px
                    margin: 0 -15px 15px
                    &:after
                        display: none
        &__heading
            font-size: 18px
            margin-right: -38%
            br
                display: none
        &__arrows
            display: none
            &:before
                display: none
        &__text
            &_bold
                font-size: 21px
                margin: 70px 0 30px
            &_angled
                min-height: 66px
                height: auto
                width: 100vw
                padding: 15px 33.3333% 15px 15px
                font-size: 15px
                margin: 20px -15px 0
                br
                    display: none
                &:after
                    display: none
        p
            font-size: 15px
            br
                display: none
        .list
            margin-bottom: 0px
            padding: 40px 50px 0px
            flex-direction: column
            li
                flex: 0 0 auto
                margin-bottom: 30px
                b
                    font-size: 24px
                    margin-bottom: 15px
                p
                    font-size: 15px
                    margin: 0
                    br
                        display: none
        &__image
            margin: 90px 0 -20px -30px
            width: 110px
            height: auto
        &__note
            flex-direction: column
            div
                margin: 15px auto 40px
                p
                    font-size: 18px
                    text-align: center
            img
                display: block
                width: 110px
                height: 110px
                flex: 0 0 110px
            .block
                &__heading
                    background: none
                    margin-bottom: 15px
                    max-width: 190px
                    margin: 0 auto
    .happiness
        &__decor
            display: none
        .block
            &__heading
                font-size: 24px
                height: auto
                padding: 5px 30px
                margin: 0 -30px 30px
                line-height: 1.2
                &:after
                    display: none
        .list
            margin-left: 30px
            li
                margin-bottom: 20px
                &:before
                    top: 0
                    left: -30px
                b
                    font-size: 21px
                    br
                        display: none
                p
                    font-size: 15px
                    br
                        display: none
    .boutique
        background: none
        min-height: 0
        margin-top: 60px
        .block
            &__heading
                font-size: 24px
                line-height: 1.2
                br
                    display: none
                &_sub
                    font-size: 24px
                    padding: 15px 30px
                    margin: 0 -30px 55px
                    background-color: $yellow
                    line-height: 1.2
                    span
                        font-size: 35px
        &__text
            font-size: 15px
            margin-bottom: 15px
            &_angled
                height: auto
                padding: 8px 30px
                margin: 0 -30px 30px
                font-size: 15px
                &:after
                    display: none
            &_hidden
                display: none
            &_bold
                margin-bottom: 0
        &__image
            margin-bottom: 0px
            filter: none
            img
                max-width: calc(100% + 30px)
                margin: 0 -15px
            &:before, &:after
                width: 32px
                height: 80px
            &:after
                right: -20px
                bottom: -30px
        &__blocks
            margin: 0
        &__block
            flex: 0 0 46%
            margin-bottom: 30px
            img
                height: auto
                border-radius: 35px
                margin-bottom: 20px
            b
                font-size: 24px
            p
                font-size: 15px
                br
                    display: none
        &-more
            background: #eaeaea
            padding-top: 60px
            padding-bottom: 100px
            min-height: 0
            .block
                &__heading
                    width: calc(100% + 30px)
                    height: auto
                    padding: 8px 15px
                    margin: 0 -15px 30px
                    font-size: 36px
                    line-height: 1.2
                    &:after
                        display: none
            &__heading
                width: 100%
                margin-left: 0
                b,p
                    font-size: 15px
                b
                    font-size: 18px
            &__blocks
                margin: 50px -15px 0
                display: block
                .slick-next, .slick-prev
                    background-color: $white
                    border-radius: 50%
                    width: 45px
                    height: 45px
                    z-index: 1
                    &:before
                        opacity: 1
                        display: block
                        font-size: 0px
                        background: url("../img/icons/angle_right.png") no-repeat center center / contain
                        width: 16px
                        height: 22px
                        margin-left: 16px
                        filter: invert(0.6)
                .slick-prev
                    left: 10px
                    &:before
                        transform: scaleX(-1)
                        margin-left: 14px
                .slick-next
                    right: 10px
                .slick-list
                    overflow: visible
            &__block
                display: block
                flex: 0 0 0%
                margin: 0 30px
                img
                    margin-bottom: 20px
                    max-width: 100%
                    height: auto
                b
                    font-size: 32px
                    br
                        display: none
                p
                    font-size: 16px
                    br
                        display: none
    .lighting
        .block
            &__heading
                height: auto
                padding: 8px 15px
                margin: 0 -15px 30px
                font-size: 26px
                line-height: 1.2
                &:after
                    display: none
        &__desc
            font-size: 16px
            br
                display: none
        &__decor
            display: none
        &__blocks
            padding: 75px 0
            background-color: #2b2b2b
            margin: 30px -15px 0
            display: block
            .slick-next, .slick-prev
                background-color: $white
                border-radius: 50%
                width: 45px
                height: 45px
                z-index: 1
                top: 290px
                &:before
                    opacity: 1
                    display: block
                    font-size: 0px
                    background: url("../img/icons/angle_right.png") no-repeat center center / contain
                    width: 16px
                    height: 22px
                    margin-left: 16px
                    filter: invert(0.6)
            .slick-prev
                left: 10px
                &:before
                    transform: scaleX(-1)
                    margin-left: 14px
            .slick-next
                right: 10px
            .slick-list
                overflow: visible
            .slick-slide
                display: flex
        &__block
            margin: 0
            width: 100%
            b
                font-size: 32px
                order: 1
                color: $white
                br
                    display: none
            p
                order: 2
                color: $white
            .image
                order: 0
                width: 290px
                height: 290px
                margin-bottom: 50px
                img
                    width: 290px
                    height: 290px
                    flex: 0 0 290px
            &_bottom
                b
                    margin: 0
                .image
                    order: 0
    .mounts
        padding: 0 0 70px
        background: linear-gradient(to bottom, $blue 0%, $blue 100%) repeat-x center top 300px / 100%, $white
        .block
            &__heading
                height: auto
                padding: 8px 15px 0px
                margin: 0 -15px 0px
                font-size: 36px
                line-height: 1.2
                &:after
                    display: none
                &:last-child
                    padding-top: 0
                    padding-bottom: 8px
                    max-width: calc(100% + 30px)
        &__subheading
            margin: 30px 0 0 auto
            flex-direction: column
            align-items: flex-start
            p
                font-size: 15px
                margin: 15px 0 0
        &__decor
            display: none
        &__block
            .image
                margin-bottom: -80px
            .content
                min-height: 0px
                margin-top: 30px
                margin-bottom: 0px
                b
                    letter-spacing: 0
                p
                    br
                        display: none
    .manufacturer
        background: none
        .block
            &__heading
                height: auto
                padding: 8px 15px
                margin: 0 -15px 45px
                font-size: 36px
                line-height: 1.2
                &:after
                    display: none
        &__text
            font-size: 18px
            margin-bottom: 20px
            br
                display: none
            span
                max-width: 200px
            &_bold
                font-size: 18px
                br
                    display: none
        &__note
            font-size: 15px
            br
                display: none
            b
                font-size: 18px
        &__image
            max-width: 100%
            height: auto
            margin: 0 auto
            transform: scale(1.2)
        &-more
            padding-right: 900px
            margin-right: -900px
            background: none
            .block
                &__heading
                    height: auto
                    padding: 8px 15px
                    margin: 0 -15px 30px
                    font-size: 24px
                    line-height: 1.2
                    &:before, &:after
                        display: none
            &__text
                margin-right: 0
                font-size: 15px
                b
                    font-size: 18px
                    max-width: 250px
                br
                    display: none
            &__flag
                width: 240px
                height: 183px
                object-fit: contain
                margin: 0 -40px 0 auto
            &__image
                background: url(../img/manufacturer__bg.svg) no-repeat calc(50vw - 120px) bottom / 760px
                margin: 20px -30px 40px
    .portfolio
        background-color: #eaeaea
        .block
            &__heading
                font-size: 24px
                padding: 15px
                margin: 0 -15px 28px
                background-color: $yellow
                line-height: 1.2
                br
                    display: none
        &__slider
            .slick-prev, .slick-next
                width: 36px
                height: 36px
                &:before
                    background: url(../img/icons/angle_right.png) no-repeat center center/ contain
                    width: 14px
                    height: 22px
                    margin-left: 12px
            .slick-next
                right: -10px
            .slick-prev
                left: -10px
                &:before
                    margin-left: 9px
            .slick-list
                overflow: hidden
            &_nodesc
                .portfolio
                    &__slider
                        &-cell
                            width: calc(100% + 100px)
    .reviews
        background: #eaeaea
        &__smile
            width: 180px
            margin: 0 auto 10px 0
            height: auto
        .block
            &__heading
                font-size: 32px
        .review
            .avatar
                position: relative
                .review
                    &__avatar
                        box-shadow: none
                        width: 100px
                        height: 100px
                        flex: 0 0 100px
                        margin-top: 30px
                    &__stars
                        width: 78px
                        height: auto
                        position: absolute
                        top: 10px
                        right: -90px
            .content
                margin: 0
                b
                    margin: 35px -15px 25px 15px
                    font-size: 21px
                    min-height: 52px
                    span
                        font-size: 21px
                p
                    font-size: 16px
                    margin-left: -100px
    .warning
        padding-top: 30px
        .block
            &__heading
                height: auto
                padding: 15px
                font-size: 24px
                margin: 0 -15px 30px
                line-height: 1.2
                br
                    display: none
                &:before, &:after
                    display: none
        &__propane
            margin: -50px auto
        &__note
            width: 100%
            height: auto
            padding: 15px
            font-size: 16px
            text-align: center
            margin: 15px auto 35px
        p,b
            font-size: 15px
            margin-bottom: 20px
            br
                display: none
        &__polymer
            margin: 0 auto 20px
        &__tip
            max-width: 360px
            margin: 0 auto
            font-size: 20px
    .ecology
        background-color: $white
        .block
            &__heading
                font-size: 24px
                height: auto
                margin: 0 -30px 30px
                padding: 30px
                line-height: 1.2
                br
                    display: none
                &:after
                    display: none
        &__heading
            font-size: 24px
            margin: 20px auto
        &__text
            font-size: 15px
            margin-bottom: 20px
        &__img
            margin: -110px auto 0
            max-width: 260px
            transform: scaleX(-1) translateX(-60px)
    .children
        .block
            &__heading
                font-size: 36px
                height: auto
                margin: 0 -30px 30px
                padding: 30px
                line-height: 1.2
                br
                    display: none
                &:after
                    display: none
        &__title
            font-size: 36px
            display: block
            margin-bottom: 15px
        &__text
            font-size: 15px
    .footer
        padding-top: 0px
        padding-bottom: 100px
        min-height: 1050px
        background: url("../img/footer__bg.jpg") no-repeat center top 100px / 575px, linear-gradient(to bottom, $blue 0%, $blue 100%) repeat-x center bottom / 100% 800px !important
        &__logo
            width: 48px
            order: 1
        .block
            &__heading
                font-size: 70px
                color: $blue
                margin: 0 auto 0
                text-align: center
                order: 0
                text-shadow: none
        .price__form
            order: 2
            margin: 390px auto 0
            p
                font-size: 36px
        &__creator
            margin: 60px auto
            color: $white
            text-align: center
            img
                filter: invert(1) contrast(2)